{% extends "web/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
	<section id="spotlight" class="text-color-white t-a-c" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover">
		<section id="top" class="bg-color-white-rgba p-t-20 p-b-20">
			<div class="wrapper">
				<h2 class=""></h2>
			</div>
		</section>
		<section id="middle">
			<section class="wrapper p-t-3-p p-b-26-p">
				<div class="middle w-70-p m-0-a">
					<h1 class='f-z-79'></h1>
					<h2 class='f-z-60'>Permission Denied !</h2>
				</div>
			</section>
		</section>
	</section>
{% endblock %}