/*#widgets.widgets{
	position: relative;
	top: -30px;
}*/
#job-vaccancy ul{
	margin-bottom: -2%;
}
.p-s-r{
	position: relative;
}
.p-s-a{
	position: absolute;
}
.p-s-f{
	position: fixed;
}
.o-f-h{
	overflow: hidden;
}
.img-thumb {
	width:20px;
	height:20px;
	margin-right: 20px;
}
.f-w-b {
	font-weight: bold;
}
#middle2{
	padding: 215px 0;
	position: relative;
}
#video-frame {
	height:300px;
	width:600px;
	position: absolute;
	top:-10px;
	right:0;
	bottom:0;
	left:0;
	margin:0 auto;
}
.about{
	margin-top: -130px;
	position: relative;
}
.candidate-profile,.employer-profile,.candidate-single,.post-post{
	margin-top: -460px !important;
}
#candidate,#company ,#middle{
	position: relative;
}
.dir-photo {
	width: 200px;
	height: 200px;
	border-radius: 5px;
}
.sidenav2 {
	background: rgba(0,0,0,0.8);
	display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    right:0;left:0;top: 0;bottom: 0;
    margin: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.sidenav2 a.close {
	right: 10px; top: 13px;
    -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	position: absolute;
    font-size: 40px;
    width: 25px;height: 25px;
    line-height: 22px;
    color: #4CAF50;
}
.js-tabs-title{
	width: 20%;
	margin-right: 6.66%;
}
.js-tabs-title-second {
    width: 20%;
	margin-right: 6.66%;
}
.js-tabs-title:nth-child(4n){
	margin-right: 0;
}
.js-tabs-content.active {
	display: block;
}
.js-tabs-content-second.active {
	display: block;
}
.js-tabs-title.active h4{
	border-bottom: 5px solid green;
}
.js-tabs-title-second.active h4 {
    border-bottom: 5px solid green;
}
#container{
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#careers div.left img {
	height:220px;
}
form p label.error{
	position: absolute;
	left: 0;
	bottom: -7px;
	color: #FF171D;
	text-transform: unset;
	line-height: 10px;
}
form p input,#company .file,form .submit{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#company .company form input{
	color: #000;
}
#company input[type="file"] {
    display: none;
}
.containers {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.containers input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 8px;
    left: 0;
    height: 25px;
    width: 25px;
    border: 2px solid #BDBDBD;
}
.containers input:checked ~ .checkmark {
    background-color: green;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.containers input:checked ~ .checkmark:after {
    display: block;
}
.containers .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.add_field_button, .add_field_button_experience{
	background-color:#2e93c9;
	color:#fff;
	font-size: 20px;
}
.remove_field {
	background-color:#2e93c9;
	color:#fff;
	font-size: 20px;
}
#candidate input {
	text-align:left !important;
}
.icons-thumb img{
	width:20px;
	height:20px;
}
.post {
    background: #4CAF50;
    padding: 5px 15px;
    border-radius: 7px;
    color:#fff;
}
.interest-notify {
	padding: 5px 40px;
	background:#FFCCBC;
	border:2px solid;
	margin-top: 1%
}
.select-list {
	background: #4CAF50;
    padding: 0 15px;
    border-radius: 7px;
    color:#fff;
}
#popup-container {
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
}
a.close-one {
    right: 40px;
    top: 25px;
    color: #fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    position: absolute;
    font-size: 50px;
    width: 25px;
    height: 25px;
    line-height: 22px;
}
.js-tabs-content div.pop-up{
	margin-right: 0 !important;
}
.js-tabs-content div.popupnav {
	margin-right: 0 !important;
}
.interest-count a{
	padding: 2px 12px;
    border: 1px solid;
    border-radius: 5px;
    display: block;
    text-align: center;
    margin-bottom: 4px;
}
.interest-profile {
	width:100px;
	height:100px;
}
.candidate-details {
	margin-left: 5%;
}
.content-heading {
	margin-bottom: 20px;
	background:#4CAF50;
	padding:10px;
}
.content-heading ul li {
	display: inline-block;
	margin-right: 20px;
	font-size: 17px;
	color:#fff;
}
.content-heading ul li:last-child{
	margin-right: 0;
}
.candidates-list ul,.employers-list ul{
	width: 100%;
	margin-bottom: -4%;
}
.candidates-list ul li,.employers-list ul li{
	float: left;
    width: 22%;
    margin-right: 4%;
    margin-bottom: 4%;
    border: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.candidates-list ul li:nth-child(4n),.employers-list ul li:nth-child(4n) {
	margin-right: 0;
}
.candidate-card div.top{
	max-height:200px;
}
.candidate-card div.top img{
	display: block;
	width: 100%;
	max-height:200px;
}
.candidate-content {
	text-align: center;
	margin-top: 7px;
}
.candidate-content h3 {
	font-weight: bold;
	margin-bottom: 7px;
}
.candidate-content h4 {
	margin-bottom: 7px;
	font-size: 12px;
}
.content-form {
	width: 50%;
    margin: 0 auto 20px;
    padding: 15px;
}
#content-popup {
	max-width: 1200px;
	position: absolute;
	width: 90%;
	background: rgba(0,0,0,0.8);
    z-index: 3;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 20px auto;
    overflow-x: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s; 
}
#content-popup .bottom {
	position: relative;
}
.closebtn {
	position: absolute;
	font-size: 50px;
	right:9px;
	top:-3px;
	color:#fff;
}
.select-button {
	padding:5px 10px;
	background: #4CAF50;
	color:#fff;
	text-align: center;
}
.lia-list-standard {
	float: left;
	width: 100%;
}
.lia-list-standard li{
	float: left;
	width: 22%;
	margin-right: 3%;
	margin-bottom: 3%;
}
.card {
  width: 100%;
  border: 1px solid #ddd;
  transition: 0.2s all;
  display: inline-block;
}
.card-title::before,
.card-title::after,
.card-date::before,
.card-links::before {
  content: "";
  display: none;
  height: 10px;
  background: #ddd;
}
.card-loading .card-title::before,
.card-loading .card-title::after,
.card-loading .card-date::before {
  display: block;
  animation-name: shine; 
  animation-duration: 1.5s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.card-loading .card-overlay {
  display: none;
}
.card-title::before {
  margin-bottom: 5px;
  width: 100%;
}
.card-title::after {
  width: 50%;
}
.card-date::before {
  width: 50%;
}
.card:hover {
  border-color: #36BF73;
}
.card:hover .card-overlay {
  opacity: 1;
}
.card-thumbnail {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  width: 100%;
  background: #ddd;
}
.card-img,
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background: rgba(255,255,255,0.5);
  transition: 0.2s all;
}
.card-body {
  padding: 10px;
}
.card-title {
  margin-top: 0;
  margin-bottom: 25px;
  height: 35px;
}
.card-actions {
  display: flex;
}
.card-date {
  font-size: 10px;
  color: #ddd;
  width: 50%;
}
@keyframes shine {
    from {transition:none;}
    to {background-color:#f6f7f8;transition: all 0.3s ease-out;}
}
.html5gallery-car-0{
		display: none !important;
}
.candidate-profile .bottom ul li{
	margin-right: 0;
}
.html5gallery-container-0 div{
	top: 5px !important;
}
body{
	padding-bottom: 0 !important;
}
.wizard>.content>.body label.error{
	text-transform: lowercase;
}
.failure p{
	text-transform: capitalize;
	font-family: 'open_sanssemibold';
}
.html5gallery-container-0{
	top: 10px !important;
}
.candidate-profile .bottom ul li.videos{
	margin-right: 2%;
}
.candidate-profile .bottom ul li.videos:nth-child(4n){
	margin-right: 0;
}
.post-post input{
	background: #eee;
	border: none;
}
.post-post .sod_select{
	margin-bottom: 0;
}
.employer-profile ul li.employer-employer{
	width: 23.5%;
	margin-right: 2%;
}
.employer-profile ul li.employer-employer:nth-child(4n){
	margin-right: 0;
}
.employer-profile ul li.employer-employer{
	border: 1px solid #bbb;
}
.content-form input{
	border: 0;
	background: #eee;
}
.candidate-single .gallery ul li{
	width: 50%;
}


@media all and (max-width: 1300px){
	.profile-menu ul.w-65-p{
		width: 73% !important;
	}
}
@media all and (max-width: 1200px){
	#home nav ul li{
		margin-right: 3%;
		padding-left: 25px;
	}
	#home nav ul li a{
		font-size: 15px;
	}
}
@media all and (max-width: 1085px){
	.profile-menu ul.w-65-p{
		width: 95.7% !important;
		margin-top: 15px;
	}
	nav.right.w-72-p {
		width: 75% !important;
	}
	.js-tabs-title{
		margin-right: 0;
		width: 25%;
	}
	.candidate-profile .top div.left.one, .employer-profile .top div.left.profile{
		position: absolute;
		left: 0;right: 0;bottom: -50px;
		width: 200px;height: 200px;
		margin: auto;
	}
	.candidate-profile .top .name, .employer-profile .top .name{
		padding-left: 0 !important;
		text-align: center;
		bottom: -70px;
		position: relative;
	}
	.candidate-profile .bottom .padding, .employer-profile .bottom .padding{
		padding-top: 120px;
	}
	.employer-profile .bottom .padding ul.right.w-60-p {
		width: 90% !important;
	}
	.candidate-profile .bottom ul.right{
		width: 100%;
		margin: 0 auto;
		float: none;
	}
	.candidate-profile .bottom ul.right li{
		width: 20%;
		text-align: center;
	}
	.candidate-profile .bottom ul.right li a{
		float: none;
	}
	.candidate-profile .top .name h4{
		font-size: 30px !important;
	}
}
@media all and (max-width: 1030px){
	nav.right.w-72-p {
		width: 78% !important;
	}
	.js-tabs-title h4{
		font-size: 13px;
	}
	.js-tabs-content .post.remove.button{
		font-size: 12px;
	    padding: 5px 10px;
	}
	.js-tabs-content div.left{
		padding: 15px;
	}
	ul.tabs-tab{
		margin-bottom: -2%;
		width: 100% !important;
	}
	ul.tabs-tab li.tabs-tab{
		width: 32% !important;
		margin: 0 2% 2% 0 !important;
	}
	ul.tabs-tab li.tabs-tab:nth-child(3n){
		margin-right: 0 !important;
	}
	.employer-profile ul li.employer-employer{
		width: 32%;
		margin-right: 2% !important;
	}
	.employer-profile ul li.employer-employer:nth-child(3n){
		margin-right: 0 !important;
	}
	.input_fields_wrap_video input{
		width: 90% !important;
	}
	.input_fields_wrap_video a.h-47{
		width: 8% !important;
	}
}
@media all and (max-width: 989px){
	nav.right.w-72-p {
		width: 80% !important;
	}
}
@media all and (max-width: 980px){
	header{
		position: relative;
	}
	nav{
		display: none;
	}
	.menu-2{
		display: block;
		float: right;
		position: absolute;
		right: 88px;
		bottom: 43px;
	}
	.sidenav {
		background: #438cb5;
		display: block;
	    height: 100%;
	    width: 0;
	    position: fixed;
	    z-index: 3;
	    top: 0;right: 0;
	    overflow-x: hidden;
	    -webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		transition: all 0.5s;
	    padding-top: 60px;
	}
	.sidenav a {
	    padding-left: 30px;
	    text-decoration: none;
	    font-size: 20px;
	    color: #fff;
	    display: block;
	    -webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		transition: all 0.5s;
	    line-height: 3;
	}
	.sidenav .menu{
		width: 200px;
	}
	.openmenu{
		display: block;
		cursor:pointer;
		position: absolute;
		top: 45px;right: 40px;
		background: url(../images/menu.png) no-repeat 0 0;
		width: 24px;
		height: 24px;
	}
	.sidenav a:hover, .offcanvas a:focus{
    	color: #3EB9C0;
	}
	.sidenav .closebtn {
	    position: absolute;
	    top: -30px;right: 25px;
	    font-size: 50px;
	}
	#company form b.logo{
		margin: auto 0;
	}
	#careers ul.main li.main{
		width: 47.5%;
		margin-right: 5%;
	}
	#careers ul.main li.main:nth-child(2n){
		margin-right: 0;
	}
	.js-tabs-content.active ul li small,.js-tabs-content.active ul li b{
		font-size: 12px;
	}
}
@media all and (max-width: 900px){
	.candidates-list ul li,.employers-list ul li{
		width: 32%;
		margin: 0 2% 2% 0 !important;
	}
	.candidates-list ul li:nth-child(3n),.employers-list ul li:nth-child(3n){
		margin-right: 0 !important;
	}
	.content-heading ul li{
		font-size: 15px;
	}
}
@media all and (max-width: 850px){
	.js-tabs-content div.left{
		width: 100%;
		margin-right: 0;
	}
	.content-form{
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
@media all and (max-width: 800px){
	#company form input,#company form b.logo,#company form label{
		font-size: 14px;
	}
	#about h5{
		font-size: 20px;
		margin: 10px 0;
	}
	#about li{
		padding: 20px;
	}
	#about li h2{
		font-size: 30px;
	}
	#about p{
		line-height: 1.6em;
		font-size: 14px;
	}
	#middle .middle{
		width: 100%;
	}
	#bottom{
		padding: 20px 0;
	}
	ul.tabs-tab li.tabs-tab{
		width: 49% !important;
		margin: 0 2% 2% 0 !important;
	}
	ul.tabs-tab li.tabs-tab:nth-child(3n){
		margin-right: 2% !important;
	}
	ul.tabs-tab li.tabs-tab:nth-child(2n){
		margin-right: 0 !important;
	}
	.content-heading ul li{
		font-size: 13px;
	}
}
@media (max-width: 780px){
	.profile-menu ul.w-65-p {
	   	width: 96.7% !important;
	}
	.profile-menu ul.w-65-p h4 {
	   font-size: 12px !important;
	}
	div.upload.file small.res {
	}
	div.upload.file  label.w-175 {
		width: 150px !important;
		padding-left:7px;
		padding-right: 7px;
	}
	.js-tabs-content ul.left{
		width: 60%;
	}
	.js-tabs-content ul.left.full{
		width: 100%;
	}
}
@media (max-width: 750px){
	.image-upload {
		width: 15px !important;
	}
	.employer-profile .left.profile{
		position: absolute;
		width: 100px;height: 100px;
		margin: auto !important;
		left: 0; right: 0; bottom: 0;
	}
	.employer-profile .h-250{
		height: 180px;
	}
	.dir-photo{
		width: 100px;height: 100px;
		margin: 0;
	}
	.employer-profile .top{
		position: relative;
	}
	.employer-profile .director h4{
		font-size: 20px;
	}
	.employer-profile .director p{
		font-size: 12px;
	}
	.employer-profile .director{
		padding: 0 !important;
		text-align: center;
		margin-top: 25px;
	}
	.profile-menu-two{
		padding-top: 70px;
	}
	.profile-menu-two ul{
		float: none;
		width: 100%;
	}
	.profile-menu-two ul li.signout a{
		float: none;
	}
	.js-tabs-title{
		text-align: center;
	}
	.js-tabs-title h4{
		display: block;
	}
	.js-tabs-title h4.p-l-30{
		padding-left: 0 !important;
	}
	.js-tabs-title h4.p-b-20 {
		padding-bottom: 5px !important;
	}
	.js-tabs-title span{
	   display: none ;
	}
	.candidate-profile .top div.left.one, .employer-profile .top div.left.profile{
		width: 100px;
		height: 100px;
		bottom: -8px;
	}
	.candidate-profile .top .name{
		bottom: -28px;
	}
	.employer-profile .top .name{
		bottom: -18px;
	}
	.candidate-profile .top .name h4, .employer-profile .top .name h4{
		font-size: 22px;
	}
	.candidate-profile .bottom .padding, .employer-profile .bottom .padding{
		padding-top: 80px;
	}
	.candidate-profile .top .h-250, .employer-profile .top .h-250{
		height: 125px;
	}
	.candidate-profile .bottom ul li.videos{
		width: 32%;
		margin: 0 2% 2% 0 !important;
		height: 150px;
	}
	.candidate-profile .bottom ul li.videos:nth-child(3n){
		margin-right: 0 !important;
	}
	.candidate-profile .bottom ul li.videos iframe{
		height: 115px;
	}
	.employer-profile ul li.employer-employer{
		width: 49%;
		margin-right: 2% !important;
	}
	.employer-profile ul li.employer-employer:nth-child(3n){
		margin-right: 2% !important;
	}
	.employer-profile ul li.employer-employer:nth-child(2n){
		margin-right: 0 !important;
	}
	.candidate-single .top{
		padding-bottom: 20px;
	}
	.candidate-single .top .h-250{
		height: 150px;
	}
	.candidate-single .top .actor-image{
		text-align: center;
		margin: -70px 0 0 !important;
	}
	.candidate-single .top .actor{
		padding: 0 !important;
		text-align: center;
		top: 0 !important;
		left: 0;
		padding-top: 20px;
	}
	.candidate-single .top .actor h4{
		font-size: 25px;
	}
	.bottom ul.w-60-p{
		width: 100%;
	}
	.input_fields_wrap_video input{
		width: 80% !important;
	}
	.input_fields_wrap_video a.h-47{
		width: 15% !important;
	}
}
@media all and (max-width: 680px){
	#container{
		height: auto;
		width: 450px;
	}
	#spotlight h2{
		font-size: 20px;
	}
	#home header{
		padding: 10px 0;
	}
	.openmenu{
		top: 25px;
	}
	#middle .img{
		width: 120px;
	}
	#careers .career{
		padding: 5%;
	}
	#careers ul.main li.main{
		width: 100%;
		margin: 0 0 5%;
	}
	#careers ul.main li.main:last-child{
		margin-bottom: 0;
	}
	#careers h3{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.js-tabs-content .interest-count a{
		font-size: 12px;
		padding: 5px;
		line-height: 18px;
	}
	h1.left{
		width: 120px;
		height: 42px;
	}
	.openmenu {
	    top: 19px;
	}
	.menu-2{
		bottom: 16px;
	}
	.content-heading ul li{
		display: block;
		margin-right: 0;
	}
	.image-upload{
		width: 20px;
	}
	#middle .registration .bottom{
		padding-top: 20px;
	}
}
@media (max-width: 650px){
	.js-tabs-content div.left{
		position: relative;
	}
	.js-tabs-content .post.remove.button{
		float: none;
	}
	.js-tabs-content ul.left{
		width: 75%;
	}
	.js-tabs-content ul.left.two{
		width: 70%;
	}
	.icons-thumb img{
		width: 15px;height: 15px;
	}
	#middle ul li div{
		height: 160px;
		width: 160px;
	}
	#middle ul li div.w-220{
		height: auto;
		width: 100px;
	}
	.failure .js-tabs-content div.left {
	   padding-bottom: 0px; 
	}
	.failure .m-t-50 {
	    margin-top: 0px;
	}
	div.upload.file label.w-175 {
	    width: 150px !important;
	    padding-left: 0px;
	    padding-right: 0px;
	}
	.candidates-list ul li,.employers-list ul li{
		width: 48.5%;
		margin: 0 3% 3% 0 !important;
	}
	.candidates-list ul li:nth-child(3n),.employers-list ul li:nth-child(3n){
		margin-right: 3% !important;
	}
	.candidates-list ul li:nth-child(2n),.employers-list ul li:nth-child(2n){
		margin-right: 0 !important;
	}
}
@media (max-width: 640px){
	#tab-1 ul.w-49-p{
		width: 100% !important;
	}
	#tab-1 div.w-49-p{
		display: none !important;
	}
	#tab-1 div.p-b-30.p-t-30.p-l-40{
		padding: 20px !important;
	}
	.employer-name{
		padding-left: 265px !important;
	}
	.employer-name .f-z-35 {
	   font-size: 30px !important;
	}
	#candidate .bottom{
		padding: 10px !important;
	}
	header h1.w-220{
		width: 160px !important;
	}
	#video-frame{
		width: auto;
		height: auto;
	}
	#widgets ul li .h-130,#widgets ul li img{
		height: 60px;
	}
	#widgets ul li img.thumb{
		height: auto !important;
	}
	#widgets ul li h4{
		font-size: 20px;
	}
	#widgets ul li div.same{
		padding: 10px 0;
	}
	.about ul li div.right.image,.about ul li div.left.image{
		display: none;
	}
	.about ul li div.left,.about ul li div.right{
		width: 100%;
		text-align: center;
	}
	.about .width{
		padding: 20px;
	}
	.about ul li div h2{
		font-size: 30px;
	}
	.about ul li div h5{
		font-size: 20px;
		margin: 15px 0;
	}
	.about ul li div p.l-h-40{
		line-height: 1.6em;
		text-align: justify;
	}
}
@media all and (max-width: 550px){
	#company form p{
		width: 100%;
		margin: 0 0 20px 0;
	}
	#company .bottom{
		padding: 0 20px 30px;
	}
	#company .bottom .file.upload{
		margin-bottom: 20px;
	}
	#company .bottom h3.details{
		font-size: 25px;
		margin-bottom: 20px;
		text-align: center;
	}
	#middle .img{
		margin: 0 auto;
		float: none;
	}
	#middle .js-tabs-content{
		padding: 60px 0 30px;
	}
	#middle div.full{
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}
	#middle .js-tabs-title{
		padding: 10px 0;
	}
	#middle .js-tabs-title h4{
		font-size: 14px;
	}
	#about li.two{
		width: 100%;
	}
	#widgets ul{
		margin-top: 0;
	}
	#middle h5{
		font-size: 18px;
	}
	#spotlight h2,#bottom p.margin{
		font-size: 13px;
	}
	.employer-profile .h-250{
		height: 120px;
	}
	#spotlight #top,#spotlight #bottom{
		padding: 10px 0;
	}
	.about{
		margin-top: -150px;
	}
	#middle .js-tabs-content{
		padding: 0 0 20px;
	}
	#middle .js-tabs-content .img{
		width: 260px;
		padding: 0;
	}
	#middle .js-tabs-content .img img{
		margin: 0;
		width: 100%;
	}
	#home header{
		margin-bottom: 50px;
	}
	.menu-2{
		width: 320px;
		margin-top: 20px;
		left: 0;right: 0;
		margin: auto;
		bottom: -35px;
	}
	.menu-2 li{
		margin-right: 31px;
	}
	.menu-2 li:last-child{
		margin-right: 0;
	}
}
@media all and (max-width: 500px){
	#container{
		width: 280px;
	}
	#container .bottom{
		padding: 30px 20px;
	}
	#container .bottom input{
		padding: 10px 0;
		font-size: 14px;
	}
	#container .bottom input.submit{
		padding: 10px 30px;
	}
	#container .bottom p.two{
		margin: 15px 0 20px;
	}
	#middle .registration .bottom form{
		margin-bottom: 0;
	}
	#container .bottom form{
		margin-bottom: 30px;
	}
	#container .bottom .last{
		font-size: 14px;
	}
	footer p{
		font-size: 13px;
	}
	#about li h2{
		font-size: 25px;
		text-align: center;
	}
	#about li h5{
		font-size: 16px;
		text-align: center;
	}
	#about p{
		font-size: 13px;
		text-align: justify;
	}
	.registration h3,.registration a{
		font-size: 20px;
	}
	.registration a{
		padding: 5px 30px;
	}
	.registration p{
		font-size: 13px;
	}
	.js-tabs-title h4{
		font-size: 12px;
	}
	.about{
		margin-top: -350px;
	}
	.about ul li div h2{
		font-size: 25px;
	}
	.about ul li div h5{
		font-size: 16px;
		margin: 5px 0;
	}
	.about ul li div p{
		font-size: 12px;
	}
	.candidate-profile .bottom ul li.videos{
		width: 48.5%;
		margin: 0 3% 3% 0 !important;
		height: 110px;
	}
	.candidate-profile .bottom ul li.videos:nth-child(3n){
		margin-right: 3% !important;
	}
	.candidate-profile .bottom ul li.videos:nth-child(2n){
		margin-right: 0 !important;
	}
	.candidate-profile .bottom ul li.videos iframe{
		height: 80px;
	}
	ul.tabs-tab li.tabs-tab{
		width: 100% !important;
		margin: 0 0 2% 0 !important;
	}
	ul.tabs-tab li.tabs-tab:nth-child(3n){
		margin-right: 0 !important;
	}
	.content-form input{
		font-size: 12px;
		padding-left: 0;
		padding-right: 0;
	}
	.content-form input.submit{
		font-size: 13px !important;
		padding-right: 20px;
		padding-left: 20px;
	}
	#content-popup .closebtn{
		font-size: 35px;
		top: -5px;
	}
	#container .bottom input.submit{
		padding: 5px 20px;
	}
	#container .bottom input{
		margin-top: 10px;
	}
	.registration p{
		margin-bottom: 10px;
	}
	#container .bottom input.form-control{
		font-size: 13px;
	}
	#middle .registration.two .close{
		position: absolute;
		font-size: 30px;
		top: -11px;
		right: -23px;
	}
}
@media all and (max-width: 465px){
	.js-tabs-content div.left{
		padding: 8px;
	}
}
@media all and (max-width: 450px){
	#widgets ul{
		width: 100%;
		margin: 0;
		padding-bottom: 20px;
	}
	#careers h3{
		font-size: 25px;
	}
	#careers .career h5,#careers ul li a.button{
		font-size: 15px;
	}
	#careers .career .content{
		padding: 20px;
	}
	.f-z-18{
		font-size: 16px !important;
	}
	.js-tabs-content.active ul li small{
		font-size: 12px !important;
	}
	#company .container{
		font-size: 9px;
		padding-left: 25px;
	}
	#company .container .checkmark{
		width: 15px;height: 15px;
	}
	.container .checkmark:after{
		top: 2px !important;left: 5px !important;
	}
	.about{
		margin-top: -200px;
	}
	.candidates-list ul li,.employers-list ul li{
		width: 100%;
		margin: 0 0 3% 0 !important;
	}
	.candidates-list ul li:nth-child(3n),.employers-list ul li:nth-child(3n){
		margin-right: 0% !important;
	}
	.candidate-card div.top{
		width: 23%;
		float: left;
		position: relative;
	}
	.candidate-card div.top img{
		position: absolute;
		width: 60px;height: 60px;
		left: 6px;top: 72px;bottom: 0;
		margin: auto;
	}
	.candidate-content{
		float: right;
		width: 77%;
		margin-top: 0;
		text-align: left;
	}
	.candidates-list .padding-4,.employers-list .padding-4{
		padding: 15px;
	}
	.candidates-list h2,.employers-list h2{
		font-size: 25px;
	}
	.candidate-content h3{
		margin-bottom: 0;
		font-size: 15px;
	}
	.candidate-content h4{
		margin-bottom: 4px;
		font-size: 12px;
	}
	.js-tabs-content ul.left{
		width: 65%;
	}
	.employer-profile ul li.employer-employer{
		position: relative;
		width: 100%;
		margin-right: 0 !important;
		padding-bottom: 30px;
	}
	.employer-profile ul li.employer-employer:nth-child(3n){
		margin-right: 0 !important;
	}
	.employer-profile ul li.employer-employer div .select-button{
		bottom: 0;
		position: absolute;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.candidate-content{
		padding-top: 8px;
		padding-bottom: 5px;
	}
	.candidate-content h4{
		margin-bottom: 0;
	}
	.alert.error{
		width: 230px !important;
		padding: 8px !important;
	}
	.alert.error p{
		font-size: 12px !important;
	}
}
@media all and (max-width: 400px){
	.about{
		margin-top: -225px;
	}
	#example-form div p.w-49-p {
		width:100% !important;
	}
	.select {
		height:53px !important;
	}
	#example-form div p input {
		height:51px !important;
	}
	div.upload.file b.logo,div.upload.file b.image {
		text-align: left;
	}
	#middle ul li div{
		height: 130px;
		width: 130px;
	}
	.candidate-profile .bottom ul li.videos{
		width: 100%;
		margin: 0 0 4%  !important;
		height: 150px;
	}
	.candidate-profile .bottom ul li.videos:nth-child(3n){
		margin-right: 0 !important;
	}
	.candidate-profile .bottom ul li.videos iframe{
		height: 120px;
	}
	.alert.error .inner{
		font-size: 12px;
	}
}
@media all and (max-width: 380px){
	.candidate-content{
		width: 75%;
	}
	.openmenu{
		right: 20px;
	}
}
@media all and (max-width: 360px){
	footer p{
		font-size: 10px;
	}
	#middle ul li div{
		height: 100px;
		width: 100px;
	}
	.about{
		margin-top: -290px;
	}
	#bottom p.margin,#spotlight h2{
		font-size: 11px;
	}
	div.upload.file img.hidden {
		display: inline !important;
		width: 30px;
	}
	div.upload.file small.res {
		display:none;
	}
	div.upload.file label.w-175 {
	    width: 55px !important;
	    text-align: center;
	}
	.about{
		margin-top: -240px;
	}
	.candidate-content{
		width: 70%;
	}
	#middle .js-tabs-content .img{
		width: 200px;
	}
	.menu-2 li{
		margin-right: 27px;
	}
}
@media all and (max-width: 340px){
	.about{
		margin-top: -260px;
	}
	.js-tabs-content .post.remove.button{
		font-size: 10px;
	}
}
.video-background {
	 background: #000;
	 height:150px;
}
.video-foreground,
.video-background iframe {
	width: 100%;
	height: 100%;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 610px) {
	.filter-submit,.filter select{
	    font-size: 13px;
	    height: 38px !important;
	}
}
@media all and (max-width: 600px) {
	.vid-info { width: 50%; padding: .5rem; }
	.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
.bg-color-custom {
	background:#f5f5f5;
	box-shadow: 3px 3px rgba(0, 0, 0, 0.15);
}
/*card style-job-candidate-profile*/
ul.tabs-tab li.tabs-tab{
	float: left;
	width:23.5%;
	background:rgba(0, 0, 0, 0.09);
	margin: 0 2% 2% 0;
}
ul.tabs-tab li.tabs-tab:nth-child(4n){
	margin-right: 0;
}
.card-top {
	height:125px;
}
.card-content {
	position: relative;
	text-align: center;
	padding-bottom: 20px;
}
.card-content .profile-thumb {
	height:90px;
	width:90px;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	top:-110px;
	margin: 0 auto;
	border-radius:50%;
	border: 5px solid #fff;
}
.card-content .content {
	margin-top: 85px;
}
.card-content .content h1{
	font-size: 17px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 5px;
}
.card-content .content h2{
	font-size: 16px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 5px;
}
.card-content .content h2 span, .card-content .content h1 span{
	font-size:15px;
	font-weight: normal;
	display: inline-block;
}
.card-content .content p{
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 5px;
}
.card-content .content span {
	display: block;
	margin-bottom: 5px;
}
.card-content .content span.time {
	display: inline-block !important;
	margin-bottom: 5px;
}
.card-content .content span img{
	height:20px;
	width:20px;
	vertical-align: middle;
	margin-right: 5px;
}
.card-bottom {
	text-align: center;
	padding: 0 20px 20px 20px;
}
.card-bottom a {
	padding: 7px 15px ;
	text-decoration: none;
	background: #51AC58;
	color:#fff;
	border-radius: 5px;
}
.card-bottom a.disabled {
	cursor: not-allowed;
}
.zoom {
    transition: transform .1s;
    margin: 0 auto;
}
.zoom:hover {
    transform: scale(1.2);
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
.container input:checked ~ .checkmark {
    background-color:#51AC58;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
input[type="submit"]:disabled {
	cursor:not-allowed;
}
.bg-color-light-grey  {
	background: #eee;
	border-radius: 4px;
}
.w-175 {
	width:175px;
	border-radius: 0 4px 4px 0;
}
.alert .close {
	color: #fff;
	float: right;
	margin: 10px 10px 0px 0px;
	cursor: pointer;
}
.alert input {
  display: none;
}
.alert input:checked ~ * {
	animation-name: dismiss,hide;
	animation-duration: 300ms;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	animation-delay: 0s,100ms;
}
.alert.error{
	width: 320px;
	position: absolute;
	top: 130px;
	z-index: 1;
	left: 0;right: 0;
	margin: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.alert.error .inner {
	text-align: center;
	color: #fff;
	padding: 10px;
	background: #4CAF50;
}
@keyframes dismiss {
  0% {
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
    font-size: 0.1px;
    transform: scale(0);
  }
}
@keyframes hide {
  100% {
    height: 0px;
    width: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
}
#home {
	position: relative;
}
#login-alert {
	position: absolute;
	width:70%;
	top:80px;
	bottom:0;
	right:0;
	left:0;
}
.select {
	background-color: #eee;
	height:47px;
	border-color: #eee !important;
}
#company form input.border-color-grey-400,#company form .border-color-grey-400{
	border-color: #eee !important;
	background:#eee !important;
}
a[href='#finish'] {
	pointer-events: none;
    cursor: default;
    text-decoration: none;
}
.candidate-filter{
	margin:0 auto 3%;
	width:70%;
}
.filter select {
	padding-left: 2% !important;
}
#container .bottom p input{
	border: 0;
	background: #eee;
}
#middle .registration .close{
	top: -10px;
	right: 7px;
}
