{% extends "web/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
	<section id="about">
		<section id="top" class="p-t-30 p-b-30" style="background: url({{static_url}}web/images/header.png) no-repeat scroll center center / cover">
			<div class="wrapper">
				<h2 class="f-z-25 text-color-white t-a-c">A film, also called a movie, motion picture, theatrical film, or photoplay, is a series of still images</h2>
			</div>
		</section>
		<section id="middle2" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover"></section>
		<section id="bottom" class="bg-color-green p-t-15 p-b-15 box-shadow-1 t-a-c">
			<section class="wrapper">
				<p class="margin text-color-white t-t-u f-z-35">Job Vacancy</p>
			</section>
		</section>
	</section>
		<section id="careers" class="p-t-2-p p-b-2-p text-color-black">
			<section class="wrapper">
				<div class="border-color-black bd-1 m-b-30 p-l-30 p-r-30 p-b-30 p-t-30">
					<p class="margin m-b-20 f-z-35">Seclect your job catagery and subcatagery</p>
					<form action="">
						<select class="w-40-5-p m-r-2-p left border-color-grey-400 bd-2 p-t-10 p-b-10 t-a-c">
							<option value="volvo"></option>
							<option value="saab">Saab</option>
							<option value="mercedes">Mercedes</option>
							<option value="audi">Audi</option>
						</select> 
						<select class="w-40-5-p m-r-2-p left border-color-grey-400 bd-2 p-t-10 p-b-10 t-a-c">
							<option value="volvo"></option>
							<option value="saab">Saab</option>
							<option value="mercedes">Mercedes</option>
							<option value="audi">Audi</option>
						</select> 
						<div class="w-15-p left">
							<input class="submit t-t-u t-a-c text-color-white d-i-b f-z-20 bg-color-green p-t-10 p-b-10 w-100-p c-p" type="submit" value="Submit" class="submit" />
						</div>
						<br class="clear">
					</form>
				</div>
				<ul class="left w-100-p main">
					<li class="left border-color-black bd-1 w-49-p m-r-2-p m-b-2-p bz main">
						<div class="left w-35-p bz"><img src="{% static 'web/images/1.png' %}" class="d-b w-100-p" alt="" ></div>
						<div class="right w-65-p content p-t-20 p-b-12 p-l-40 bz">
							<ul>
								<li class="m-b-5"><h5 class="text-color-deep-purple f-z-14 t-t-u">Camera Man</h5></li>
								<li class="m-b-5"><small class="f-z-14">Section</small><b class="f-z-14"> : Film</b></li>
								<li class="m-b-5"><small class="f-z-14">Sub Section</small><b class="f-z-14"> : Back-end</b></li>
								<li class="m-b-5"><small class="f-z-14">Experience</small><b class="f-z-14"> : 1 Year in Python</b></li>
								<li><small class="f-z-14">Qualification</small><b class="f-z-14"> : B.Tech (CS)</b></li>
							</ul>
							<div class="m-t-20">
								<a onclick="openNav4()" href="javascript:void(0)" class="button close d-i-b p-t-8 p-b-8 p-l-40 p-r-40 bg-color-green b-s-5 text-color-white t-t-u f-z-18">Apply Now</a>
							</div>
						</div>
						<br class="clear">
						<div id="mySidenav4" class="sidenav2 hidden">
							<section id="container" class="w-400 m-0-a t-a-c p-s-r" style="margin-top: 10% !important;">
								<a title="Close" class="close" href="javascript:void(0)" onclick="closeNav4()">&times;</a>
								<h5 class="bg-color-green text-color-white f-z-20 t-t-u p-t-15 p-b-15">Camera Man</h5>
								<div class="h-120 o-f-h"><img class="w-100-p" src="{% static 'web/images/3.png' %}" alt=""></div>
								<div class="content p-t-20 p-b-10 p-r-20 p-l-40 border-color-black bd-l bd-r bd-b t-a-l">
									<ul>
										<li class="m-b-5"><small class="f-z-15 m-r-10">Company :</small><b class="f-z-15"> Film</b></li>
										<li class="m-b-5"><small class="f-z-15 m-r-10">Sub Section :</small><b class="f-z-15"> Back-end</b></li>
										<li class="m-b-5"><small class="f-z-15 m-r-10">Experience :</small><b class="f-z-15">1 Year in Python</b></li>
										<li class="m-b-5"><small class="f-z-15 m-r-10">Qualification :</small><b class="f-z-15">Any (CS)</b></li>
										<li><small class="f-z-15 m-r-10">Salary/Month :</small><b class="f-z-15">15000 to 25000</b></li>
									</ul>
									<form class="t-a-c m-t-30" action="">
										<div class="left w-50-p t-a-l p-s-r l-h-40">
											<label class="containers c-p d-b m-l-35">Confirm
												<input type="checkbox">
												<span class="checkmark bz"></span>
											</label>
										</div>
										<div class="left w-50-p">
											<input class="submit text-color-white d-i-b f-z-20 bg-color-green p-t-7 p-b-7 p-l-40 p-r-40 c-p" type="submit" value="Submit" class="submit" />
										</div>
										<br class="clear">
									</form>
								</div>
							</section>
						</div>
					</li>
					<li class="left border-color-black bd-1 w-49-p m-b-2-p bz main">
						<div class="left w-35-p bz"><img src="{% static 'web/images/2.png' %}" class="d-b w-100-p" alt=""></div>
						<div class="right w-65-p content p-t-20 p-b-20 p-l-40 bz">
							<ul>
								<li class="m-b-5"><h5 class="text-color-deep-purple f-z-14 t-t-u">Associate Director</h5></li>
								<li class="m-b-5"><small class="f-z-14">Section</small><b class="f-z-14"> : Film</b></li>
								<li class="m-b-5"><small class="f-z-14">Sub Section</small><b class="f-z-14"> : Back-end</b></li>
								<li class="m-b-5"><small class="f-z-14">Experience</small><b class="f-z-14"> : 1 Year in Python</b></li>
								<li><small class="f-z-14">Qualification</small><b class="f-z-14"> : B.Tech (CS)</b></li>
							</ul>
							<div class="m-t-20">
								<a onclick="openNav4()" href="javascript:void(0)" class="button close d-i-b p-t-8 p-b-8 p-l-40 p-r-40 bg-color-green b-s-5 text-color-white t-t-u f-z-18">Apply Now</a>
							</div>
						</div>
						<br class="clear">
					</li>
					<li class="left border-color-black bd-1 w-49-p m-r-2-p m-b-2-p bz main">
						<div class="left w-35-p bz"><img src="{% static 'web/images/3.png' %}" class="d-b w-100-p" alt=""></div>
						<div class="right w-65-p content p-t-20 p-b-20 p-l-40 bz">
							<ul>
								<li class="m-b-5"><h5 class="text-color-deep-purple f-z-14 t-t-u">Dancer</h5></li>
								<li class="m-b-5"><small class="f-z-14">Section</small><b class="f-z-14"> : Film</b></li>
								<li class="m-b-5"><small class="f-z-14">Sub Section</small><b class="f-z-14"> : Back-end</b></li>
								<li class="m-b-5"><small class="f-z-14">Experience</small><b class="f-z-14"> : 1 Year in Python</b></li>
								<li><small class="f-z-14">Qualification</small><b class="f-z-14"> : B.Tech (CS)</b></li>
							</ul>
							<div class="m-t-20">
								<a onclick="openNav4()" href="javascript:void(0)" class="button close d-i-b p-t-8 p-b-8 p-l-40 p-r-40 bg-color-green b-s-5 text-color-white t-t-u f-z-18">Apply Now</a>
							</div>
						</div>
						<br class="clear">
					</li>
					<li class="left border-color-black bd-1 w-49-p m-b-2-p bz main">
						<div class="left w-35-p bz"><img src="{% static 'web/images/4.png' %}" class="d-b w-100-p" alt=""></div>
						<div class="right w-65-p content p-t-20 p-b-20 p-l-40 bz">
							<ul>
								<li class="m-b-5"><h5 class="text-color-deep-purple f-z-14 t-t-u">Lightman</h5></li>
								<li class="m-b-5"><small class="f-z-14">Section</small><b class="f-z-14"> : Film</b></li>
								<li class="m-b-5"><small class="f-z-14">Sub Section</small><b class="f-z-14"> : Back-end</b></li>
								<li class="m-b-5"><small class="f-z-14">Experience</small><b class="f-z-14"> : 1 Year in Python</b></li>
								<li><small class="f-z-14">Qualification</small><b class="f-z-14"> : B.Tech (CS)</b></li>
							</ul>
							<div class="m-t-20">
								<a onclick="openNav4()" href="javascript:void(0)" class="button close d-i-b p-t-8 p-b-8 p-l-40 p-r-40 bg-color-green b-s-5 text-color-white t-t-u f-z-18">Apply Now</a>
							</div>
						</div>
						<br class="clear">
					</li>
					<li class="left border-color-black bd-1 w-49-p m-r-2-p m-b-2-p bz main">
						<div class="left w-35-p bz"><img src="{% static 'web/images/5.png' %}" class="d-b w-100-p" alt=""></div>
						<div class="right w-65-p content p-t-20 p-b-20 p-l-40 bz">
							<ul>
								<li class="m-b-5"><h5 class="text-color-deep-purple f-z-14 t-t-u">Singer</h5></li>
								<li class="m-b-5"><small class="f-z-14">Section</small><b class="f-z-14"> : Film</b></li>
								<li class="m-b-5"><small class="f-z-14">Sub Section</small><b class="f-z-14"> : Back-end</b></li>
								<li class="m-b-5"><small class="f-z-14">Experience</small><b class="f-z-14"> : 1 Year in Python</b></li>
								<li><small class="f-z-14">Qualification</small><b class="f-z-14"> : B.Tech (CS)</b></li>
							</ul>
							<div class="m-t-20">
								<a onclick="openNav4()" href="javascript:void(0)" class="button close d-i-b p-t-8 p-b-8 p-l-40 p-r-40 bg-color-green b-s-5 text-color-white t-t-u f-z-18">Apply Now</a>
							</div>
						</div>
						<br class="clear">
					</li>
					<li class="left border-color-black bd-1 w-49-p m-b-2-p bz main">
						<div class="left w-35-p bz"><img src="{% static 'web/images/6.png' %}" class="d-b w-100-p" alt=""></div>
						<div class="right w-65-p content p-t-20 p-b-20 p-l-40 bz">
							<ul>
								<li class="m-b-5"><h5 class="text-color-deep-purple f-z-14 t-t-u">Camera Man</h5></li>
								<li class="m-b-5"><small class="f-z-14">Section</small><b class="f-z-14"> : Film</b></li>
								<li class="m-b-5"><small class="f-z-14">Sub Section</small><b class="f-z-14"> : Back-end</b></li>
								<li class="m-b-5"><small class="f-z-14">Experience</small><b class="f-z-14"> : 1 Year in Python</b></li>
								<li><small class="f-z-14">Qualification</small><b class="f-z-14"> : B.Tech (CS)</b></li>
							</ul>
							<div class="m-t-20">
								<a onclick="openNav4()" href="javascript:void(0)" class="button close d-i-b p-t-8 p-b-8 p-l-40 p-r-40 bg-color-green b-s-5 text-color-white t-t-u f-z-18">Apply Now</a>
							</div>
						</div>
						<br class="clear">
					</li>
				</ul>
				<br class="clear">
			</section>
		</section>
	</section>
{% endblock %}	
