{% extends 'registration/auth_base.html' %}
{% load static %}
{% load i18n %}
{% block title %} Login {% endblock %}
{% block content %}
	<section id="spotlight" class="text-color-white p-b-12-p" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover">
		<section id="top" class="bg-color-white-rgba p-t-20 p-b-20 m-b-5-p t-a-c">
			<div class="wrapper">
				<h2 class="">Deen Dayal Upadhyaya Grameen Kaushalya Yojana, Kudumbashree Wayanad District</h2>
			</div>
		</section>
		<section id="middle">
			<section class="tabs wrapper">
				<section id="container" class="w-610 h-400 m-0-a t-a-c">
					<div class="bottom p-t-70 p-b-30 p-l-40 p-r-40">
						{% if message %}
					    	<div class="text m-b-20">	    	
								{{message}}			
							</div>
							<br />
						{% endif %}
						<form action="{{url}}" class="m-b-50" method="post">
							{% csrf_token %}
							<p class="p-s-r w-100-p">
								{{form.username}}
								{% if form.username.errors %}
		                            <span class="error">{{ form.username.errors.as_text }}</span>
		                        {% endif %}
							</p>
							<p class="m-t-20 m-b-30 w-100-p p-s-r two">
								{{form.password}}
								{% if form.password.errors %}
		                            <span class="error">{{ form.password.errors.as_text }}</span>
		                        {% endif %}
							</p>
							<input class="submit t-t-u text-color-white d-i-b f-z-25 bg-color-deep-purple p-t-10 p-b-10 p-l-60 p-r-60 c-p" type="submit" value="Login" class="submit" />
						</form><!--(#login > form)-->
						<div class="last">
							<a class="left text-color-white f-z-13" href="{% url 'auth_password_reset' %}">Forgot Password ?</a>
							<a class="right text-color-white f-z-13" href="{% url 'candidates:create' %}">Create Account</a>
							<br class="clear">
						</div>
					</section>
				</section><!--(#top > .wrapper > #login)-->
			</section>	
		</section>
	</section>
	<style>
		::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		    color: #fff;
		    opacity: 1; /* Firefox */
		}

		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		    color: #fff;
		}

		::-ms-input-placeholder { /* Microsoft Edge */
		    color: #fff;
		}
	</style>
{% endblock %}