{% extends 'registration/auth_base.html' %}
{% load static %}
{% load i18n %}
{% block title %} Change Password {% endblock %}
{% block content %}
	<section id="spotlight" class="text-color-white p-b-12-p" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover">
		<section id="top" class="bg-color-white-rgba p-t-20 p-b-20 m-b-5-p t-a-c">
			<div class="wrapper">
				<h2 class=""></h2>
			</div>
		</section>
		<section id="middle">
			<section class="tabs wrapper">
				<section id="container" class="w-610 h-520 m-0-a t-a-c">
					<div class="bottom p-t-50 p-b-30 p-l-40 p-r-40">
						{% if form.non_field_errors %}
					    	<div class="palette-Red-500 text m-b-20">	    	
								{{form.non_field_errors}}			
							</div>
							<br />
						{% endif %}
						<form action="." class="" method="post">
							{% csrf_token %}
							<p class="p-s-r w-100-p">
								<label class="fg-label">Old Password</label>
								<input name="old_password" value="{{ form.old_password.value|default:""}}" type="password" class="input-sm form-control fg-input w-100-p t-a-c border-color-white bd-1 p-t-20 p-b-20 f-z-18">
	                			{% if form.old_password.errors %}
						            <span class="error">{{ form.old_password.errors.as_text }}</span>
						        {% endif %}
							</p>
							<p class="m-t-20 m-b-30 w-100-p p-s-r two">
								<label class="fg-label">New Password</label>
								<input name="new_password1" value="{{ form.new_password1.value|default:""}}" type="password" class="input-sm form-control fg-input w-100-p t-a-c border-color-white bd-1 p-t-20 p-b-20 f-z-18">
	                			{% if form.new_password1.errors %}
						            <span class="error">{{ form.new_password1.errors.as_text }}</span>
						        {% endif %}
							</p>
							<p class="m-t-20 m-b-30 w-100-p p-s-r two">
								<label class="fg-label">New Password Confirmation</label>
								<input name="new_password2" value="{{ form.new_password2.value|default:""}}" type="password" class="input-sm form-control fg-input w-100-p t-a-c border-color-white bd-1 p-t-20 p-b-20 f-z-18">
	                			{% if form.new_password2.errors %}
						            <span class="error">{{ form.new_password2.errors.as_text }}</span>
						        {% endif %}
							</p>
							<input type="hidden" name="next" value="{{ next }}" />
							<input class="submit t-t-u text-color-white d-i-b f-z-25 bg-color-deep-purple p-t-10 p-b-10 p-l-60 p-r-60 c-p" type="submit" value="Change Password" class="submit" />
						</form><!--(#login > form)-->
						
					</section>
				</section><!--(#top > .wrapper > #login)-->
			</section>	
		</section>
	</section>
	<style>
		::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		    color: #fff;
		    opacity: 1; /* Firefox */
		}

		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		    color: #fff;
		}

		::-ms-input-placeholder { /* Microsoft Edge */
		    color: #fff;
		}
	</style>
{% endblock %}