{% extends 'registration/auth_base.html' %}
{% load static %}
{% load i18n %}
{% block title %} Change Password {% endblock %}
{% block content %}
	<section id="spotlight" class="text-color-black p-b-12-p" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover">
		<section id="top" class="bg-color-white-rgba p-t-20 p-b-20 m-b-5-p t-a-c">
			<div class="wrapper">
				<h2 class="text-color-white">A film, also called a movie, motion picture, theatrical film, or photoplay, is a series of still images</h2>
			</div>
		</section>
		<section id="middle">
			<section class="tabs wrapper">
				<section id="container" class="w-610 h-400 m-0-a t-a-c">
					<div class="bottom p-t-50 p-b-30 p-l-40 p-r-40">
						{% if validlink %}
							{% if form.errors %}
						    	<div class="palette-Red-500 text m-b-20">	    	
									{{form.errors.as_text}}			
								</div>
								<br />
							{% endif %}
							<form action="." class="" method="post">
								{% csrf_token %}
								<p class="p-s-r w-100-p">
									<label class="fg-label">Enter New Password</label>
									<input type="password" class="input-sm form-control fg-input w-100-p t-a-c border-color-black bd-1 p-t-20 p-b-20 f-z-18" name="new_password1" />
								</p>
								<p class="m-t-20 m-b-30 w-100-p p-s-r two">
									<label class="fg-label">Enter Password Again</label>
									<input type="password" class="input-sm form-control fg-input w-100-p t-a-c border-color-black bd-1 p-t-20 p-b-20 f-z-18" name="new_password2" />
								</p>
								
								<input class="submit t-t-u text-color-white d-i-b f-z-20 bg-color-green p-t-10 p-b-10 p-l-60 p-r-60 c-p" type="submit" value="Reset Password" class="submit" />
							</form><!--(#login > form)-->
						{% else %}
						<div>
							<p class="message">Password reset failed</p>
						</div>
						{% endif %}
					</section>
				</section><!--(#top > .wrapper > #login)-->
			</section>	
		</section>
	</section>
	<style>
		::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		    color: #fff;
		    opacity: 1; /* Firefox */
		}

		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		    color: #fff;
		}

		::-ms-input-placeholder { /* Microsoft Edge */
		    color: #fff;
		}
	</style>
{% endblock %}

