{% extends "registration/auth_base.html" %}
{% load i18n %}
{% block title %} Registration {% endblock %}
{% block content %}
{% load static %}
	<section id="spotlight" class="text-color-black p-b-5-p" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover">
		<section id="top" class="bg-color-white-rgba p-t-20 p-b-20 m-b-5-p t-a-c" style="background: url({{static_url}}web/images/header.png) no-repeat scroll center center / cover">
			<div class="wrapper">
				<h2 class="f-z-25 text-color-white t-a-c">{{quote1}}</h2>
			</div>
		</section>
		<section id="middle">
			<section class="tabs wrapper">
				<section id="container" class="w-480 m-0-a t-a-c registration two p-s-r">
					<a title="Close" class="close f-z-40 p-s-a text-color-green" href="{% url 'web:home' %}">&times;</a>
					<div class="bottom p-t-40 p-b-30 p-l-40 p-r-40">
						<form method="post" action=".">
							{% csrf_token %}
							<p class="p-s-r w-100-p m-b-40">
								<label class="fg-label">Forgot your password</label>
								<input name="email" type="text" value="{{ form.email.value|default:"Enter your email address"}}" class="input-sm form-control fg-input w-100-p t-a-c bg-color-grey-200 text-color-grey-400 p-t-10 p-b-10 f-z-18 m-t-30">
								{% if form.email.errors %}
								    <span class="error">{{ form.email.errors.as_text }}</span>
								{% endif %}
							</p>
							<input class="submit t-t-u text-color-white d-i-b f-z-20 bg-color-green p-t-10 p-b-10 p-l-40 p-r-40 c-p" type="submit" value="Send" class="submit" />
						</form><!--(#login > form)-->
					</div>
				</section>
			</section><!--(#top > .wrapper > #login)-->
		</section>
	</section>
	<section id="bottom" class="bg-color-green p-t-20 p-b-20 box-shadow-1 t-a-c">
			<section class="wrapper">
				<p class="margin text-color-white f-z-20">{{quote2}}</p>
			</section>
		</section>
	<style>
		::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		    color: #eee;
		    opacity: 1; /* Firefox */
		}

		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		    color: #eee;
		}

		::-ms-input-placeholder { /* Microsoft Edge */
		    color: #eee;
		}
	</style>
{% endblock %}