{% extends "registration/auth_base.html" %}
{% load i18n %}
{% block title %} Registration {% endblock %}
{% block content %}
{% load static %}
	<section id="about">
		<section id="top" class="p-t-30 p-b-30" style="background: url({{static_url}}web/images/header.png) no-repeat scroll center center / cover">
			<div class="wrapper">
				<h2 class="f-z-25 text-color-white t-a-c">{{quote1}}</h2>
			</div>
		</section>
		<section id="middle2" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover">
		</section>
		<section id="bottom" class="bg-color-green p-t-15 p-b-15 t-a-c">
			<section class="wrapper p-t-30 p-b-30">
			</section>
		</section>
	</section>
</section>
	<section id="middle">
		<section class="tabs wrapper" class='m-b-10'>
			<section id="container" class="w-610 m-0-a t-a-c">
				<div class="bottom p-t-50 p-b-30 p-l-40 p-r-40">
					{% if message %}
				    	<div class="text m-b-20">	    	
							{{message}}			
						</div>
						<br />
					{% endif %}
					<form action="." method="post">
						{% csrf_token %}
						<p class="w-100-p p-s-r">
							{{form.email}}
							{% if form.email.errors %}
	                            <span class="error">{{ form.email.errors.as_text }}</span>
	                        {% endif %}
						</p>
						<p class="m-t-20 m-b-30 p-s-r w-100-p two">
							{{form.username}}
							{% if form.username.errors %}
	                            <span class="error">{{ form.username.errors.as_text }}</span>
	                        {% endif %}
						</p>
						
						<p class="p-s-r w-100-p">
							{{form.password1}}
							{% if form.password1.errors %}
	                            <span class="error">{{ form.password1.errors.as_text }}</span>
	                        {% endif %}
						</p>
						<p class="m-t-20 m-b-30 w-100-p p-s-r two">
							{{form.password2}}
							{% if form.password2.errors %}
	                            <span class="error">{{ form.password2.errors.as_text }}</span>
	                        {% endif %}
						</p>
						<input class="submit t-t-u text-color-white d-i-b f-z-25 bg-color-green p-t-10 p-b-10 p-l-60 p-r-60 c-p" type="submit" value="Submit" class="submit" />
					</form><!--(#login > form)-->
				</section>
			</section><!--(#top > .wrapper > #login)-->
		</section>	
	</section>
</section>
<style>
	div.bottom {
		margin-top: -470px;
	}
	#container {
		margin-bottom: 230px;
	}
</style>
{% endblock %}
