{% extends "web/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
	<section id="about">
		<section id="top" class="p-t-20 p-b-20" style="background: url({{static_url}}web/images/header.png) no-repeat scroll center center / cover">
			<div class="wrapper">
				<h2 class="f-z-25 text-color-white t-a-c"> {{quote1}} 
			</div>
		</section>
		<section id="middle2" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover">
			<!--<section id="video-frame">
				<div class="html5gallery" data-responsive="true" data-titleoverlay="true" data-titleautohide="false" data-onchange="onSlideChange" data-skin="light" data-autoplayvideo='true' data-autoslide="true" data-random="true" data-width="600" data-height="280" style="display:none;">
					
					<a href="https://www.youtube.com/embed/815MDYLvgu0"><img src="http://img.youtube.com/vi/815MDYLvgu0/0.jpg"></a>
					{% for promotion in promotion_videos %}
					<a href="{{promotion.video.video_url}}"><img src="http://img.youtube.com/vi/{{promotion.video.video_code}}/0.jpg" alt="Youtube Video"></a>
					{% endfor %}
				</div>
			</section>-->
			
		</section>
		<section id="bottom" class="bg-color-green p-t-15 p-b-15 box-shadow-1 t-a-c">
			
		</section>
	</section>
</section>
	<section class="about p-b-3-p">
		<section class="wrapper">
			<div class="bg-color-white p-t-50 p-b-50 p-l-40 p-r-40 border-color-black bd-l bd-r bd-b bz width">
				<ul>
					<li>
						<div class="left w-73-p text">
							<h2 class="f-z-40 text-color-green">About Us</h2>
							<p class="l-h-40">Revolution casting The Revolution casting is the company, that formed with the aim to provide a better role for whom search job in the field of the film industry and media-related field and who search better candidate for by using the film industry and the same field. Here two opportunities, one is for, who seek job and other is who provides the job. If job seekers are interested in this field you have to register here by enrolling your basic details, photo, experience, videos, portfolio etc. Job providers they can select suitable candidates for their own banners This site grant opportunity to register and do the activity that exclusively for all media related persons. One time subscriptions fees are necessary for registration. </p>
						</div>
						<div class="right w-25-p p-s-r image">
							<img class="d-b w-100-p b-0-p" src="{% static 'web/images/about.png' %}" alt="">
						</div>
						<br class="clear">
					</li>
					<li class="m-t-10 m-b-10">
						<div class="right w-67-p text t-a-r">
							<h2 class="f-z-40 text-color-green m-b-20">Our vision</h2>
							<p class="l-h-40">Revolution casting provides you a better chance for the gain role in the film industry and media-related field. After registration on this site opportunity will appear in front of you that you search for a long year. Here we provide as a number of vacancies in a various banner in all over India. You get that opportunity as in the form notifications in your profile, from that have to select that suitable to you, The role you search for years you come to you. </p>
						</div>
						<div class="left w-25-p p-s-r image">
							<img class="d-b w-100-p b-0-p" src="{% static 'web/images/vision.png' %}" alt="">
						</div>
						<br class="clear">
					</li>
					<li>
						<div class="left w-67-p text">
							<h2 class="f-z-40 text-color-green m-b-20">Our mission</h2>
							<p class="l-h-40">Our mission is to satisfy all the type of people who wish to work in the film industry and media related field. Everybody can apply job such as children, youngers, middle-agers, etc. We prove everybody can reach the film and media industry After enrolling here nobody wants to disappoint. Jab providers they never want to search anywhere for selecting suitable candidates for their own banners.</p>
						</div>
						<div class="right w-25-p p-s-r image">
							<img class="d-b w-100-p b-0-p" src="{% static 'web/images/mission.png' %}" alt="">
						</div>
						<br class="clear">
					</li>
				</ul>
				<section id="middle">
					<section class="tabs">
						<ul class="left w-100-p">
							<li class="left bz c-p p-s-r p-t-20 p-b-20 w-100-p t-a-c active"><h4 class="f-z-30 text-color-green">Contact</h4></li>
						</ul>
						<div class="hidden p-t-100 p-b-60 js-tabs-content active">
							<div class="left img w-30-p"><img class="d-b w-100-p m-t-50 logo-2" src="{% static 'web/images/logo.jpg' %}" alt=""></div>
							<div class="right w-60-p full">
								<p class="m-t-10 f-z-20 t-t-u f-w-b">Revolution Casting</p>
								<p class="m-b-10 text-color-black">The casting is amazing, your dream become an actor.</p>
								<p class="m-b-10 m-t-10 text-color-black"><img class="img-thumb" src="{% static 'web/images/icons/location.png' %}" alt="">Revolution Casting Building, M C Road, Venjaramoodu, Trivandrum,</p>
								<p class="m-b-10 m-t-10 text-color-black"><img class="img-thumb" src="{% static 'web/images/icons/white.png' %}" alt="">Kerala, India.</p>
								<a class="d-b m-t-10 m-b-10 text-color-black" href="#"><img class="img-thumb" src="{% static 'web/images/icons/phone.png' %}" alt="">+91 9946 55 44 55</a>
								<a class="d-b text-color-black" href="#"><img class="img-thumb" src="{% static 'web/images/icons/mail.png' %}" alt="">revolutioncasting123@gmail.com</a>
							</div>
							<br class="clear">
						</div>
					</section>
				</section>
			</div>
		</section>
	</section>
{% endblock %}
