{% extends "web/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
	<section id="top" class="p-t-20 p-b-20" style="background: url({{static_url}}web/images/header.png) no-repeat scroll center center / cover">
		<div class="wrapper">
			<h2 class="f-z-25 t-a-c">{{quote1}}</h2>
		</div>
	</section>
	<section id="middle" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover">
		<section class="wrapper p-t-4-p p-b-5-p">
			<div class="middle w-85-p m-0-a">
				<ul class="left w-100-p">
					
					<li class="left w-50-p bz p-l-10 p-r-10 p-t-10 p-b-10">
						<div class="bz w-220 h-220 m-0-a">
							<a  class="text-color-white" href="javascript:void(0)" onclick="openNav2()"><img class="w-100-p d-b zoom" src="{% static 'web/images/a1.png' %}" alt=""></a>
						</div>	
						<div class="bz w-220 m-0-a">
							<a  class="text-color-white" href="javascript:void(0)" onclick="openNav2()"><img class="w-100-p d-b zoom" src="{% static 'web/images/a.png' %}" alt=""></a>
						</div>
						
					</li>
					<li class="left w-50-p bz p-l-10 p-r-10 p-t-10 p-b-10">
						<div class="bz w-220 h-220 m-0-a">
							<a href="javascript:void(0)" onclick="openNav3()"><img class="w-100-p d-b zoom" src="{% static 'web/images/b1.png' %}" alt=""></a>
						</div>
						<div class="bz w-220 m-0-a">
							<a  class="text-color-white" href="javascript:void(0)" onclick="openNav3()"><img class="w-100-p d-b zoom" src="{% static 'web/images/b.png' %}" alt=""></a>
						</div>
						
					</li>
				</ul>
				<br class="clear">
			</div>
		</section>
		<section id="bottom" class="bg-color-green p-t-15 p-b-15 box-shadow-1 t-a-c">
			<section class="wrapper">
				<!-- <p class="margin text-color-white f-z-20">{{quote2}}</p> -->
				<!-- <div class="col-sm-3 logo m-b-10">
                    <a href="#" data-text="Are you sure want to download APK ????" data-title="Are you sure?" class="action-button no-response-popup btn download-file btn-default waves-effect button-p">
                    <img src="{% static 'web/images/android.png' %}" input class="submit t-t-u text-color-green d-i-b f-z-20 bg-color-white p-t-10 p-b-10 p-l-60 p-r-60 c-p" type="submit" value="Download App"/>
                </div> -->
                <a href="{% url 'download_app' %}" data-text="Are you sure want to download APK ????" data-title="Are you sure?" class="action-button no-response-popup btn download-file btn-default waves-effect button-p">
	                <button class="snip1245">
						Download App
						<i><img src="{% static 'web/images/android.png' %}"></i>
					</button>
				</a>

			</section>
		</section>       
	</section>
</section>
<section id="widgets" class="videocover">
	<setcio class="wrapper">
		<section id="video-frame-x">
			<!-- <div class="html5gallery" data-responsive="true" data-titleoverlay="false" data-titleautohide="true" data-onchange="onSlideChange" data-skin="light" data-autoplayvideo='true' data-autoslide="true" data-random="true" data-width="1837" data-height="450" style="display:none;">
				<a href="https://www.youtube.com/embed/a3DW9ykubKo"><img src="http://img.youtube.com/vi/a3DW9ykubKo/0.jpg"></a> -->
			<div class="html5gallery important" data-responsive="true" data-titleoverlay="false" responsivefullscreen='true' responsive='true' data-titleautohide="true" data-onchange="onSlideChange" data-skin="light" data-autoplayvideo='false' data-autoslide="true" data-random="true" data-width="1837" data-height="800">
				<a href="https://www.youtube.com/embed/815MDYLvgu0"><img src="http://img.youtube.com/vi/815MDYLvgu0/0.jpg"></a>
				{% for promotion in promotion_videos %}
				 <a href="{{promotion.video.video_url}}"><img src="http://img.youtube.com/vi/{{promotion.video.video_code}}/0.jpg"></a>
				{% endfor %}
			</div>
		</section>
	</setcio>
</section>
<section id="widgets" class="widgets">
	<section class="wrapper">
		<ul class="left w-100-p">
			<li class="left w-32-p m-r-2-p m-b-2-p">
				<div class="h-130">
					<a href=""><img class="h-130 d-b w-100-p" src="{% static 'web/images/c.png' %}" alt=""></a>
				</div>
				<div class="same t-a-c p-t-20 p-b-20 box-shadow-1">
					<a href=""><h6 class="f-z-16">Companies</h6></a>
					<img class="thumb w-15-p m-0-a " src="{% static 'web/images/loader-gif.gif' %}" alt="">
				</div>
			</li>
			<li class="left w-32-p m-r-2-p m-b-2-p">
				<div class="h-130">
					<a href=""><img class="h-130 d-b w-100-p" src="{% static 'web/images/d.png' %}" alt=""></a>
				</div>
				<div class="same t-a-c p-t-20 p-b-20 box-shadow-1">
					<a href=""><h6 class="f-z-16">Candidates</h6></a>
					<!-- <a href=""><h4 class="f-z-30">{{candidates_count}}</h4></a> -->
					<img class="thumb w-15-p m-0-a " src="{% static 'web/images/loader-gif.gif' %}" alt="">
				</div>
			</li>
			<li class="left w-32-p">
				<div class="h-130">
					<a href=""><img class="h-130 d-b w-100-p" src="{% static 'web/images/e.png' %}" alt=""></a>
				</div>
				<div class="same t-a-c p-t-20 p-b-20 box-shadow-1">
					<a href=""><h6 class="f-z-16">Vacancies</h6></a>
					<!-- <a href=""><h4 class="f-z-30">{{vacancies_count}}</h4></a> -->
					<img class="thumb w-15-p m-0-a " src="{% static 'web/images/loader-gif.gif' %}" alt="">
				</div>
			</li>
		</ul>
		<br class="clear">
	</section>
</section>
{% endblock %}
{% block static %}
	{% load static %}	
<style>
.snip1245 {
  font-family: 'Raleway', Arial, sans-serif;
  border: none;
  background-color: #2f4926;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 0px 20px 0px 70px;
  display: inline-block;
  margin: 0px 30px;
  text-transform: uppercase;
  line-height: 2.7em;
  font-weight: 600;
  font-size: 1em;
  outline: none;
  position: relative;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.snip1245:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  background-color: inherit;
  border-radius: 10px;
  z-index: -1;
  box-shadow: inset 0 -6px 10px rgba(0, 0, 0, 0.75);
}
.snip1245:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  border-radius: 5px 0 0 5px;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.snip1245 i {
  font-size: 1.5em;
  width: 50px;
  position: absolute;
  text-align: center;
  top: 5px;
  left: 0;
  border-radius: 5px 0 0 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.snip1245:hover:after,
.snip1245.hover:after {
  width: 100%;
  border-radius: 5px;
}
/*.snip1245:hover i,
.snip1245.hover i {
  background-color: rgba(255, 255, 255, 0.15);
}*/
/* Demo purposes only */
@media all and (max-width: 640px){
	.snip1245 i{
		width: 40px;
	}
	.snip1245:after{
		width: 40px;
	}
	.snip1245{
		font-size: 15px;
		padding: 0px 20px 0px 55px;
	}
}

</style>
<script>
	 $(".hover").mouseleave(
    function () {
      $(this).removeClass("hover");
    }
  );
</script>
{% endblock %}