{% extends "web/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
	<section id="about">
		<section id="top" class="p-t-20 p-b-20" style="background: url({{static_url}}web/images/header.png) no-repeat scroll center center / cover">
			<div class="wrapper">
				<h2 class="f-z-25 text-color-white t-a-c">{{quote1}}</h2>
			</div>
		</section>
		<section id="middle2" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover">
			<!-- <section id="video-frame">
				<div class="html5gallery" data-responsive="true" data-titleoverlay="true" data-titleautohide="false" data-onchange="onSlideChange" data-skin="light" data-autoplayvideo='true' data-autoslide="true" data-random="true" data-width="600" data-height="280" style="display:none;">
					
					<a href="https://www.youtube.com/embed/815MDYLvgu0"><img src="http://img.youtube.com/vi/815MDYLvgu0/0.jpg"></a>
					{% for promotion in promotion_videos %}
					<a href="{{promotion.video.video_url}}"><img src="http://img.youtube.com/vi/{{promotion.video.video_code}}/0.jpg" alt="Youtube Video"></a>
					{% endfor %}
				</div>
			</section> -->
		</section>
		<section id="bottom" class="bg-color-green p-t-15 p-b-15 box-shadow-1 t-a-c">
			
		</section>
	</section>
</section>
	<section class="about p-b-3-p">
		<section class="wrapper">
			<div class="bg-color-light-grey p-t-50 p-b-50 p-l-40 p-r-40 border-color-black bd-l bd-r bd-b bz width">
				<section id="middle">
					<section class="tabs">
						<div class="col-md-4">
                            <div class="price-table__item">
                                <header class="price-table__header bg-light-blue">
                                    <div class="price-table__title">Banner</div>
                                    <div class="price-table__desc">Register to join community as leader</div>
                                </header>
                                <div class="price-table__price color-light-blue">
                                    FREE
                                    <!-- <small>month</small> -->
                                </div>
                                <ul class="price-table__info">
                                    <li>Register for free</li>
                                    <li>Find all members from any industry</li>
                                    <li>like Cinema , Serial, Shortfilm</li>
                                    <li>Get acces to all qualified members</li>
                                </ul>
                                <a href="{% url 'employers:create' %}" class="price-table__action bg-light-blue">Join Now</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="price-table__item">
                                <header class="price-table__header bg-red">
                                    <div class="price-table__title">Candidates</div>
                                    <div class="price-table__desc">Register to join the community as member</div>
                                </header>
                                <div class="price-table__price color-light-blue">
                                    ₹100.00
                                    <!-- <small>month</small> -->
                                </div>
                                <ul class="price-table__info">
                                    <li>Get services bases on interest</li>
                                    <li>Unlimited acces to members area</li>
                                    <li>Limited Profile As standard</li>
                                    <li>Video advertising</li>
                                </ul>
                                <a href="{% url 'candidates:create' %}" class="price-table__action bg-red">Join Now</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="price-table__item">
                                <header class="price-table__header bg-cyan">
                                    <div class="price-table__title">Advertisement</div>
                                    <div class="price-table__desc">Advertise your services</div>
                                </header>
                                <div class="price-table__price color-light-blue">
                                    ₹100.00
                                    <!-- <small>month</small> -->
                                </div>
                                <ul class="price-table__info">
                                    <li>Coming Soon</li>
                                    <li>Film Advertising</li>
                                    <li>Social Media Advertising</li>
                                    <li>Video ads</li>
                                </ul>
                                <a href="" class="price-table__action bg-cyan">Coming Soon</a>
                            </div>
                        </div>
                        <br class="clear">
					</section>
				</section>
			</div>
		</section>
	</section>
	<style>
		@media (min-width: 768px){
			.col-md-4 {
			    -webkit-box-flex: 0;
			    -ms-flex: 0 0 33.3333333333%;
			    flex: 0 0 33.3333333333%;
			    max-width: 33.3333333333%;
			}
		}
		.wrapper1 {
		    width: 100%;
		    margin: 0 auto;
		    max-width: 1270px;
		}
		.col-md-4{
		    padding: 0 10px;
		    text-align: center;
		    float:left;
		    width: 31%;
		}
		.price-table__item {
		    margin-bottom: 20px;
		    background-color: #FFF;
		    border-radius: 2px;
		    box-shadow: 0 1px 2px rgba(0,0,0,.075);
		}
		.price-table__header {
		    color: #FFF;
		    border-radius: 2px 2px 0 0;
		    padding: 2rem;
		    margin-bottom: 2rem;
		}
		.bg-light-blue {
		    background-color: #03A9F4!important;
		}
		.price-table__title {
		    font-weight: 500;
		    font-size: 1.3rem;
		}
		.price-table__desc {
		    color: rgba(255,255,255,.75);
		    margin: .3rem 0;
		}
		.price-table__price>small {
		    font-size: 1rem;
		    position: relative;
		    top: -.4rem;
		}
		.price-table__price {
		    font-size: 1.8rem;
		}
		.price-table__info {
		    padding: 1rem 0;
		}
		.price-table__info>li {
		    font-weight: 500;
		    padding: 1rem 1.5rem;
		}
		.price-table__action {
		    display: inline-block;
		    margin-bottom: 2.5rem;
		    padding: .8rem 1.2rem;
		    border-radius: 2px;
		    color: #FFF;
		    font-weight: 500;
		    box-shadow: 0 3px 5px rgba(0,0,0,.12);
		    transition: opacity .3s;
		}
		.bg-red {
		    background-color: #ff6b68!important;
		}
		.bg-cyan {
		    background-color: #00BCD4!important;
		}
	</style>
{% endblock %}
