{% extends "web/base.html" %}
{% load i18n %}
{% load static %}


{% block content %}
<section id="content" class="single">
	<section class="wrapper">
		<section id="head">
			<h4 class='text-color-black f-z-40'>{{title}}</h4>
			<p class='text-color-black f-z-30'>{{short_description}}</p>
		</section><!--(#head)-->
		<section id="bottom">
			<img src="{% static 'web/images/error.png' %}" alt="image" title="image" />
		</section><!--(#bottom)-->
	</section><!--(#content.single > .wrapper)-->
</section><!--(#content.single)-->
{% endblock %}