{% load static %}
<aside id="s-main-menu" class="sidebar">
    <div class="smm-header">
        <i class="zmdi zmdi-long-arrow-left" data-ma-action="sidebar-close"></i>
    </div>

    <ul class="smm-alerts">
        <li data-user-alert="sua-messages" data-ma-action="sidebar-open" data-ma-target="user-alerts">
            <i class="zmdi zmdi-email"></i>
        </li>
        <li class="p-relative" data-user-alert="sua-notifications" data-ma-action="sidebar-open" data-ma-target="user-alerts">
            <i class="zmdi zmdi-notifications"></i>
            <span class="notification-count palette-Red-500 bg">0</span>
        </li>
        <li data-user-alert="sua-tasks" data-ma-action="sidebar-open" data-ma-target="user-alerts">
            <i class="zmdi zmdi-view-list-alt"></i>
        </li>
    </ul>

    <ul class="main-menu">
        <li class="active">
            <a href="{% url 'app' %}"><i class="zmdi zmdi-home"></i> Dashboard</a>
        </li>
        <li>
            <a href="{% url 'employers:employers' %}"><i class="zmdi zmdi-account-circle"></i>Companies</a>
        </li>
        <li>
            <a href="{% url 'candidates:candidates' %}"><i class="zmdi zmdi-accounts-alt"></i>Candidate</a>
        </li>
        <li>
            <a href="{% url 'jobs:jobs' %}"><i class="zmdi zmdi-case"></i>Job Vacancies</a>
        </li>
        <li>
            <a href="{% url 'jobs:applied_jobs' %}"><i class="zmdi zmdi-case-check"></i>Applied Vacancies</a>
        </li>        
        <li>
            <a href="{% url 'web:promoted_videos' %}"><i class="zmdi zmdi-collection-video"></i>Promoted Video</a>
        </li>
        
    </ul>
</aside>
