<div class="shortcuts">
	<button class="btn palette-Light-Blue btn-icon bg waves-effect waves-circle waves-float">
		<i class="zmdi zmdi-plus"></i>
	</button>
	<div class="icons icons text-right">
		
		<a href="#" class="btn btn-warning bg btn-icon-text waves-effect">Customer <i class="zmdi m-l-10 zmdi-accounts-alt"></i></a>
		<br />
		<a href="#" class="btn palette-Teal bg btn-icon-text waves-effect">Product <i class="zmdi m-l-10 zmdi-view-comfy"></i></a>
		<br />
		<a href="#" class="btn palette-Red bg btn-icon-text waves-effect">Purchase <i class="zmdi m-l-10 zmdi-shopping-cart"></i></a>
		
	</div>
</div>