{% extends "base.html" %}
{% load i18n %}


{% block content %}
{% load static %}

{% load main_template_tags %}
    <section id="content">
        <div class="container">
             <div class="c-header">
                <h2>{{title}}</h2>
            </div>
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>
    
                <div class="ah-search">
                    <form method="get" action="{% url 'employers:employers' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
    
                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>
    
                <ul class="ah-actions actions a-alt">
                   <!--  <li>
                        <a href="" class="ah-search-trigger" data-ma-action="ah-search-open">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li> -->
                    
                    <li>
                        <a title="Filter" class="filter_button" href="">
                            <i class="zmdi zmdi-filter-list"></i>
                        </a>
                    </li>
                    
                    <!-- {% if instances %}
    
                        <li>
                            <a title="Select All" class="check_all" href="">
                                <i class="zmdi zmdi-select-all"></i>
                            </a>
                        </li>
                        {% if "is_superuser" or 'can_delete_employer' in user_instance.permissionlist %}
                            <li>
                                <a title="Delete selected employers" data-id="" href="{% url 'employers:delete_selected_employers' %}" data-text="{{confirm_delete_selected_message}}" data-title="Are you sure?" class="action-button reload selected-items-button">
                                    <i class="zmdi zmdi-delete"></i>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %} -->
                </ul>
                
            </div>

            <div class="card">
                
                {% if instances %}
                 <div class="card-body card-padding">
                    <div class="contacts clearfix row">
                        {% load el_pagination_tags %}
                        {% paginate 21 instances %}
                        {% for instance in instances %}
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <div class="c-item">
                                <!-- <ul class="actions b-alt">
                                    <li class="dropdown">
                                        <a href="" data-toggle="dropdown">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="{% url 'employers:edit' pk=instance.pk %}">Edit</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'employers:employer' pk=instance.pk %}">View</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'employers:delete' pk=instance.pk %}">Delete</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul> -->
                                <div class="c-info">
                                    <strong>{{instance.banner_name|camelize}}</strong>
                                    <small>{{instance.film_name|camelize}}</small>
                                </div>
                                <div class="c-footer">
                                    <a href="{% url 'employers:employer' pk=instance.pk %}" class="waves-effect bg-color-green"><i class="zmdi zmdi-person-add"></i>View</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                    {% include 'includes/not_found.html' %}
                {% endif %}  
            </div>
            
        </div>
    </section>
{% endblock %}
{% block filter_box %}
<div class="filter-box">
     <form method="get" action="{% url 'employers:employers' %}">
        <div class="card">
            <div class="card-header">
                <h2>Filter <small></small></h2>
                <span class="back-button-poupup palette-Cyan bg white btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-arrow-back"></i> Back</span>
            </div>
            
            <div class="card-body card-padding">
                <div class="form-group fg-line">
                    <label>Query</label>
                    <input name="q" type="text" class="form-control" placeholder="Enter your query..." />
                </div>
                
                 <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
            </div>
         </div>
     </form>
</div>
{% endblock %}

{% block static %}
    {% load static %}
    <style>
        .bg-color-green {
            background-color: #4CAF50 !important;
            color:white !important;
        }
    </style>
{% endblock %}