{% extends "web/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
	<section id="top" class="p-t-30 p-b-30" style="background: url({{static_url}}/web/images/header.png) no-repeat scroll center center / cover">
		<div class="wrapper">
			<h2 class="f-z-25 text-color-white t-a-c">The casting is amazing, your dream become an actor.</h2>
		</div>
	</section>
	<section id="middle2" style="background: url({{static_url}}/web/images/spotlight.png) no-repeat scroll center center / cover"></section>
	<section id="bottom" class="bg-color-green p-t-15 p-b-15 box-shadow-1 t-a-c">
		<section class="wrapper p-t-30 p-b-30">
			
		</section>
	</section>
</section>
	<section id="company" class="p-t-3-p p-b-3-p">
		<section class="wrapper">
			<div class="bottom p-b-40 p-l-40 p-r-40 bg-color-white border-color-grey-400 bd-2 bd-l bd-r bd-b bz">
				<section id="bottom" class="p-t-15 p-b-15 t-a-c">
					<section class="wrapper">
						<p class="margin text-color-black t-t-u f-z-30">Enter Your details</p>
					</section>
				</section>
				<form enctype="multipart/form-data" method="post" action="{{url}}">
					{% csrf_token %}
					<p class="w-100-p p-s-r">
						{{form.banner_name}}
					</p>					
					<div>
						<p class="left p-s-r w-49-p m-r-2-p m-t-2-p">
							{{form.banner_no}}
						</p>
						<p class="left w-49-p p-s-r m-t-2-p">
							{{form.category}}
						</p>
						<p class="left p-s-r w-49-p m-r-2-p m-t-2-p">
							{{form.film_name}}
						</p>
						<p class="left m-t-2-p w-49-p p-s-r">
							{{form.language}}
						</p>
						<p class="left p-s-r w-49-p m-r-2-p m-t-2-p">
							{{form.director_name}}
						</p>
						<p class="left m-t-2-p w-49-p p-s-r">
							{{form.producer_name}}
						</p>
						<p class="left p-s-r w-49-p m-r-2-p m-t-2-p">
							{{form.director_phone}}
						</p>
						<p class="left m-t-2-p w-49-p p-s-r">
							{{form.producer_phone}}
						</p>
						<p class="left p-s-r w-49-p m-r-2-p m-t-2-p">
							{{form.director_wp}}
						</p>
						<p class="left m-t-2-p w-49-p p-s-r">
							{{form.producer_wp}}
						</p>
						<p class="left p-s-r w-49-p m-r-2-p m-t-2-p">
							{{form.email}}
						</p>
						<p class="left m-t-2-p w-49-p p-s-r">
							{{form.other_name}}
						</p>
						<p class="left p-s-r w-49-p m-r-2-p m-t-2-p">
							{{form.time_duration}}
						</p>
						<p class="w-49-p left file two border-color-grey-400 bd-2 p-s-r bz m-t-2-p"> 
							<label class="p-s-a p-l-25 t-10 text-color-grey-600" for="">Banner image</label>
							<label style="border-left: 2px solid #BDBDBD;background: #4CAF50 !important;" class="p-l-20 p-r-20 p-t-10 p-b-10 right border-color-grey-400 f-z-16 text-color-white p-s-r" id="#bb">Upload Photo
						    	<input type="file" id="File"  size="60" name='fefco_registration'>
						    </label>
						    <br class="clear">
						    <b class="logo o-f-h text-color-grey-400 f-z-16 p-s-a l-0-p r-0-p t-0-p b-0-p m-a t-a-c w-100 h-25 w-45-p"></b>
						</p>
						<p class="left p-s-r w-100-p m-r-2-p m-t-2-p">
							<label class="container">I agree to the Terms of Services and Privacy Policy
							  <input type="checkbox" class='agree'>
							  <span class="checkmark"></span>
							</label>
						</p>
						<br class="clear">
					</div>
					<div class="t-a-r m-t-2-p">
						<input type='submit' name='submit' value="Submit" class="text-color-white d-i-b f-z-20 p-l-40 p-r-40 p-t-8 p-b-8 c-p bg-color-green border-color-green bd-1" />
					</div>
				</form><!--(#login > form)-->
			</div>
		</section>
	</section>
</section>
</section>
	<style>
		#company div.bottom {
			margin-top: -500px;
		}
	</style>
	<script>
		$('input[type=file]').change(function () {
		    var file_name = (this.files[0].name);
		    $('.file .logo').html(file_name);

		});
		$(document).ready(function(){
			$(".selectpicker").selectOrDie();
		});
		$(':input[type="submit"]').prop('disabled', true);
		$(document).on('change', '.agree',function() {
		    var $this = $(this);
			var checked = $this.prop('checked');
			if (checked) {
				$(':input[type="submit"]').prop('disabled', false);
			}
			else {
				$(':input[type="submit"]').prop('disabled', true);
			}

		});

	</script>
{% endblock %}
