{% load static %}
<div class="card">
    <div class="card-header">
        <h2>Recent Job Post <small></small></h2>
    </div>

    <div class="card-body">
    	{% if recent_vacancies %}
        <div class="table-responsive">
            <table id="data-table-basic" class="table table-striped table-vmiddle">
                <thead>
                    <tr>
                        <th data-column-id="id" data-type="numeric">ID</th>
                        <th>Banner Name</th>
                        <th>JOb</th>                        
                    </tr>
                </thead>
                <tbody>
                	{% for instance in recent_vacancies %}
                    <tr>
                        <td>{{instance.auto_id}}</td>
                        <td>{{instance.employer.banner_name}}</td> 
                        <td>{{instance.job_category}}</td>                                               
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        	<div class="card-padding card-body">
	        	<p>No companies found</p>
	        </div>
        {% endif %}
    </div>
</div>