{% load static %}
<div class="card">
    <div class="card-header">
        <h2>Recent Companies <small></small></h2>
    </div>

    <div class="card-body">
        <div class="table-responsive">
        	{% if recent_sales %}
            <table id="data-table-basic" class="table table-striped table-vmiddle">
                <thead>
                    <tr>
                        <th data-column-id="id" data-type="numeric">ID</th>
                        <th>Time</th>
                        <th>Customer</th>
                        <th>Sub Total</th>
                        <th>Special Discount</th>
                        <th>Total</th>
                        <th data-column-id="action" class="four">Action</th>
                    </tr>
                </thead>
                <tbody>
                	{% for instance in recent_sales %}
                    <tr>
                        <td><a href="{% url 'sales:sale' pk=instance.pk %}">{{instance.auto_id}}</a></td>
                        <td>{{instance.time}}</td>
                        <td><a href="{% url 'customers:customer' pk=instance.customer.pk %}">{{instance.customer}}</a></td>
                        <td>{{instance.subtotal}}</td>
                        <td>{{instance.special_discount}}</td>
                        <td>{{instance.total}}</td>
                        <td class="four">
                        	<a href="{% url 'sales:sale' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-eye"></i></a>
                        	<a href="{% url 'sales:edit' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
                        	<a data-id="{{instance.pk}}" href="{% url 'sales:delete' pk=instance.pk %}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" class="action-button remove btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-delete"></i></a>
                        	<a target='_blank' href="{% url 'sales:print' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-print"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {% else %}
            	<div class="card-body card-padding">
	            	<p>No sales found</p>
	            </div>
            {% endif %}
        </div>
    </div>
</div>