{% load static %}
<div class="card">
    <div class="card-header">
        <h2>Recent Companies <small></small></h2>
    </div>

    <div class="card-body">
    	{% if recent_employers %}
        <div class="table-responsive">
            <table id="data-table-basic" class="table table-striped table-vmiddle">
                <thead>
                    <tr>
                        <th data-column-id="id" data-type="numeric">ID</th>
                        <th>Banner Name</th>
                        <th>Director Name</th>
                    </tr>
                </thead>
                <tbody>
                	{% for instance in recent_employers %}
                    <tr>
                        <td><a href="">{{instance.auto_id}}</a></td>
                        <td>{{instance.banner_name}}</td>
                        <td>{{instance.director_name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        	<div class="card-padding card-body">
	        	<p>No companies found</p>
	        </div>
        {% endif %}
    </div>
</div>