<div class="card card-padding">
    <div class="card-body card-padding">
        <div class="row m-b-10">

            <div class="col-sm-4">
                <h1 id="id_total_sales_amount_top" class="m-b-xs c-bluegray">0.00</h1>
                <h4 class='c-bluegray'>Sales</h4>
                <div id="sparkline1" class="m-b-sm"></div>
                <div class="row">
                    <div class="col-xs-3 p-l-15 p-r-15">
                        <small class="stats-label c-brown">Sale Count</small>
                        <h4 id="id_total_sales_created" class='c-brown'>0.00</h4>
                    </div>
                    <div class="col-xs-3 p-l-15 p-r-15" style="border-right: 1px solid rgba(0,0,0,.15);border-left: 1px solid rgba(0,0,0,.15);">
                        <small class="stats-label c-brown">Old Balance</small>
                        <h4 id="id_total_sales_collected_amount" class='c-brown'>0.00</h4>
                    </div>
                    <div class="col-xs-3 p-l-15 p-r-15" style="border-right: 1px solid rgba(0,0,0,.15);">
                        <small class="stats-label c-brown">Balance</small>
                        <h4 id="id_sale_total_balance" class='c-brown'>0.00</h4>
                    </div>
                    <div class="col-xs-3 p-l-15 p-r-15">
                        <small class="stats-label c-brown">Profit</small>
                        <h4 id="id_sale_total_profit" class='c-brown'>0.00</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <h1 id="id_total_sale_return_cost" class="m-b-xs c-bluegray">0.00</h1>
                <h4 class='c-bluegray'>Sale Return</h4>
                <div id="sparkline2" class="m-b-sm"></div>
                <div class="row">
                    <div class="col-xs-6 p-l-15 p-r-15">
                        <small class="stats-label c-brown">Return Count</small>
                        <h4 id="id_return_count" class ='c-brown'>0.00</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-2" style="border-right: 1px solid rgba(0,0,0,.15);border-left: 1px solid rgba(0,0,0,.15)">
                <h1 id="id_this_period_total_expense_amount_total" class="m-b-xs c-bluegray">0.00</h1>
                <h4 class='c-bluegray'>Other Expense</h4>
                <div id="sparkline2" class="m-b-sm"></div>
                <div class="row">
                    <div class="col-xs-6 p-l-15 p-r-15">
                        <small class="stats-label c-brown">Other Expense</small>
                        <h4 id="id_this_period_total_expense_amount" class ='c-brown'>0.00</h4>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">

                <div class="row m-t-xs">
                    <div class="col-xs-4">
                        <h1 id="id_current_balance" class="no-margins c-bluegray f-19">0.00</h1>
                         <h4 class="m-b-xs c-bluegray f-12">Current Balance</h4>
                    </div>
                    <div class="col-xs-4">
                        <h1 id="id_total_monthly_balance" class="no-margins c-bluegray f-19">0.00</h1>
                        <h4 class="m-b-xs c-bluegray f-12">Monthly Balance</h4>
                    </div>
                    <div class="col-xs-4">
                        <h1 id="id_this_period_total_transfer_amount" class="no-margins c-bluegray f-19">0.00</h1>
                        <h4 class="m-b-xs c-bluegray f-12">Cash Transfer</h4>
                    </div>
                    
                    <div class="col-xs-4">
                        <h1 id="id_total_profit_amount" class="no-margins c-bluegray f-19">0.00</h1>
                        <h4 class="m-b-xs c-bluegray f-12">Profit</h4>
                    </div>
                    <div class="col-xs-4">
                        <h1 id="id_total_monthly_profit_amount" class="no-margins c-bluegray f-19">0.00</h1>
                        <h4 class="m-b-xs c-bluegray f-12">Monthly Profit</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div>
                    <canvas id="lineChart" height="114"></canvas>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="stat-list m-t-lg list-unstyled">
                    <li>
                        <h2 id="id_total_income" class="no-margins">0.00</h2>
                        <small>Total Income in period</small>
                        <div class="progress progress-mini">
                            <div class="progress-bar" id="id_income_progress_bar"></div>
                        </div>
                    </li>
                    <li>
                        <h2 id="id_total_expense" class="no-margins ">0.00</h2>
                        <small>Total Expense in period</small>
                        <div class="progress progress-mini">
                            <div class="progress-bar" id="id_expense_progress_bar"></div>
                        </div>
                    </li>
                    <li>
                        <h2 id="id_customer_credit_amount" class="no-margins ">0.00</h2>
                        <small>Total Customer Credit</small>
                        <div class="progress progress-mini">
                            <div class="progress-bar" id="id_customer_credit_progress_bar"></div>
                        </div>
                    </li>
                    <li>
                        <h2 id="id_customer_debit_amount" class="no-margins ">0.00</h2>
                        <small>Total Customer Debit</small>
                        <div class="progress progress-mini">
                            <div class="progress-bar" id="id_customer_debit_progress_bar"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

        


