{% extends "base.html" %}
{% load i18n %}

{% load tz %}
{% block content %}
{% load static %}
{% load main_template_tags %}
    <section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{instance.name}}</div>

                <ul class="ah-actions actions a-alt">
                    {% if "is_superuser" or 'can_view_candidate' in user_instance.permissionlist %}
                    <li>
                        <a title="View Candidates" href="{% url 'candidates:candidates' %}">
                            <i class="zmdi zmdi-view-list-alt"></i>
                        </a>
                    </li>
                    {% endif %}                    
                    {% if "is_superuser" or 'can_modify_candidate' in user_instance.permissionlist %}
                    <li>
                        <a title="Edit Candidate" href="{% url 'candidates:edit' pk=instance.pk %}">
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if "is_superuser" or 'can_delete_candidate' in user_instance.permissionlist %}
                    <li>
                        <a title="Delete Candidate" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'candidates:delete' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li> 
                    {% endif %}                               
                </ul>
            </div>
             <section id="content">
                <div class="container">
                    <div class="card" id="profile-main">
                        <div class="pm-overview c-overflow">
                            <div class="pmo-pic">
                                <div class="p-relative">
                                    <a href="">                                        
                                        {% if instance.profile_photo %}
                                        <img class="img-responsive" src="{{instance.profile_photo.url}}" alt="" >
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="pmo-stat">
                                    <h2 class="m-0 c-white">{{instance.name|camelize}}</h2>
                                </div>
                            </div>

                            <div class="pmo-block pmo-contact hidden-xs">
                                <h2>Contact</h2>

                                <ul>
                                    <li><i class="zmdi zmdi-phone"></i>{{instance.mobile_number}}</li>
                                    <li><i class="zmdi zmdi-email"></i>{{instance.email}}</li>
                                    <li><i class="zmdi zmdi-account"></i>{{instance.address|camelize}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pm-body clearfix">
                            <ul class="tab-nav tn-justified">
                                <li class="active waves-effect"><a href="profile-about.html">About</a></li>
                            </ul>
                            <div class="pmb-block">
                                <div class="pmbb-header">
                                    <h2><i class="zmdi zmdi-account m-r-5"></i> Profile Information</h2>
                                </div>
                                <div class="pmbb-body p-l-30">
                                    <div class="pmbb-view">
                                        <dl class="dl-horizontal">
                                            <dt>Name</dt>
                                            <dd>{{instance.name|camelize}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Profile</dt>
                                            <dd>{{instance.profile|camelize}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Gender</dt>
                                            <dd>{{instance.gender|upfirstletter}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>DOB</dt>
                                            <dd>{{instance.dob}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Mother Tounge</dt>
                                            <dd>{{instance.mother_tounge|upfirstletter}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Address</dt>
                                            <dd>{{instance.address|camelize}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Place</dt>
                                            <dd>{{instance.place|upfirstletter}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Pincode</dt>
                                            <dd>{{instance.pin}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>State</dt>
                                            <dd>{{instance.state}}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="pmb-block">
                                <div class="pmbb-header">
                                    <h2><i class="zmdi zmdi-account m-r-5"></i> Basic Information</h2>
                                </div>
                                <div class="pmbb-body p-l-30">
                                    <div class="pmbb-view">
                                        <dl class="dl-horizontal">
                                            <dt>Height</dt>
                                            <dd>{{instance.height}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Weight</dt>
                                            <dd>{{instance.weight}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Body Type</dt>
                                            <dd>{{instance.body_type|upfirstletter}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Skin Tone</dt>
                                            <dd>{{instance.skin_tone|upfirstletter}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Additional Info</dt>
                                            <dd>{{instance.additional_info|upfirstletter}}</dd>
                                        </dl> 
                                        <dl class="dl-horizontal">
                                            <dt>Education Qualification</dt>
                                            {% for education in instance.educations %}
                                            <dd>{{education|truncatechars:30|upfirstletter}}</dd>
                                            {% endfor %}
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Other Qualification</dt>
                                            <dd>{{instance.media_related_studies|upfirstletter}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Experiences</dt>
                                            {% for experiance in instance.experiences %}
                                            <dd>{{experiance|truncatechars:30|upfirstletter}}</dd>
                                            {% endfor %}
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>About</dt>
                                            <dd>{{instance.about|upfirstletter}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Media Experience</dt>
                                            <dd>{{instance.media_experience|upfirstletter}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Dreams</dt>
                                            <dd>{{instance.dreams|upfirstletter}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Passion And Extra Skills</dt>
                                            <dd>{{instance.passion_extra_skills|upfirstletter}}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="pmb-block">
                                <div class="pmbb-header">
                                    <h2><i class="zmdi zmdi-account-o m-r-5"></i>Photo</h2>
                                </div>
                                <div class="pmbb-body p-l-30">
                                    <div class="pmbb-view">
                                        {% if instance.natural_photo %}
                                        <dl class="dl-horizontal">
                                            <dt>Natural Photo</dt>
                                            <dd><img class="w-48-p" src="{{instance.natural_photo.crop.200x300}}" alt=""></dd>
                                        </dl>
                                        {% endif %}
                                        {% if instance.side_photo %}
                                        <dl class="dl-horizontal">
                                            <dt>Side Photo</dt>
                                            <dd><img class="w-48-p" src="{{instance.side_photo.crop.200x300}}" alt=""></dd>
                                        </dl> 
                                        {% endif %}
                                        {% if instance.edited_photo %}
                                        <dl class="dl-horizontal">
                                            <dt>Edited Photo</dt>
                                            <dd><img class="w-48-p" src="{{instance.edited_photo.crop.200x300}}" alt=""></dd>
                                        </dl>
                                        {% endif %}
                                        {% if instance.makeup_photo %}                                       
                                        <dl class="dl-horizontal">
                                            <dt>Makeup Photo</dt>
                                            <dd><img class="w-48-p" src="{{instance.makeup_photo.crop.200x300}}" alt=""></dd>
                                        </dl>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>                            
                            <div class="pmb-block">
                                <div class="pmbb-header">
                                    <h2><i class="zmdi zmdi-account-o m-r-5"></i>Video</h2>
                                </div>
                                <div class="pmbb-body p-l-30">
                                    <div class="pmbb-view">
                                        {% for video in instance.videos %}
                                        <li class="m-b-2-p left m-r-2-p t-a-c videos p-s-r w-23-5-p h-190">
                                            <iframe class="p-s-a l-0-p r-0-p t-0-p m-a" width="100%" height="160" src="https://www.youtube.com/embed/{{video.video_code}}" frameborder="0" allow="autoplay;" allowfullscreen></iframe>
                                        </li>     
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="pmb-block">
                                <div class="pmbb-header">
                                    <h2><i class="zmdi zmdi-account-o m-r-5"></i>Created &amp; Updated</h2>
                                </div>
                                <div class="pmbb-body p-l-30">
                                    <div class="pmbb-view">
                                        <dl class="dl-horizontal">
                                            <dt>Date Added</dt>
                                            <dd>{{instance.date_added}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Date Updated</dt>
                                            <dd>{{instance.date_updated}}</dd>
                                        </dl> 
                                        {% if instance.creator %}
                                        <dl class="dl-horizontal">
                                            <dt>Created User</dt>
                                            <dd>{{instance.creator.username}}</dd>
                                        </dl>  
                                        {% endif %}
                                        {% if instance.updator%}                                     
                                        <dl class="dl-horizontal">
                                            <dt>Last Updated User</dt>
                                            <dd>{{instance.updator.username}}</dd>
                                        </dl>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}

{% block static %}
    {% load static %}
{% endblock %}