{% extends "base.html" %}
{% load i18n %}


{% block content %}
{% load static %}

{% load main_template_tags %}
    <section id="content">
        <div class="container">
             <div class="c-header">
                <h2>{{title}}</h2>
            </div>
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>
    
                <div class="ah-search">
                    <form method="get" action="{% url 'candidates:candidates' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
    
                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>
    
                <ul class="ah-actions actions a-alt">
                    
                    <li>
                        <a title="Filter" class="filter_button" href="">
                            <i class="zmdi zmdi-filter-list"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card">
                {% if instances %}
                 <div class="card-body card-padding">
                    <div class="contacts clearfix row">
                        {% load el_pagination_tags %}
                        {% paginate 21 instances %}
                        {% for instance in instances %}
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <div class="c-item">
                                <div class="c-info">
                                    <strong>{{instance.name|camelize}}</strong>
                                    <small>{{instance.mobile_number}}</small>
                                </div>
                                <div class="c-footer">
                                    <a href="{% url 'candidates:candidate' pk=instance.pk %}" class="waves-effect bg-color-green"><i class="zmdi zmdi-person-add"></i>View</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                    {% include 'includes/not_found.html' %}
                {% endif %}  
            </div>
            
        </div>
    </section>
{% endblock %}
{% block filter_box %}
<div class="filter-box">
     <form method="get" action="{% url 'candidates:candidates' %}">
        <div class="card">
            <div class="card-header">
                <h2>Filter <small></small></h2>
                <span class="back-button-poupup palette-Cyan bg white btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-arrow-back"></i> Back</span>
            </div>
            
            <div class="card-body card-padding">
                <div class="form-group fg-line">
                    <label>Query</label>
                    <input name="q" type="text" class="form-control" placeholder="Enter your query..." />
                </div>
                
                 <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
            </div>
         </div>
     </form>
</div>
{% endblock %}

{% block static %}
    {% load static %}
    <style>
        .bg-color-green {
            background-color: #4CAF50 !important;
            color:white !important;
        }
    </style>
{% endblock %}