{% extends "web/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
	<section id="about">
		<section id="top" class="p-t-30 p-b-30" style="background: url({{static_url}}web/images/header.png) no-repeat scroll center center / cover">
			<div class="wrapper">
				<h2 class="f-z-20 text-color-white t-a-c">The casting is amazing, your dream become an actor.</h2>
			</div>
		</section>
		<section id="middle2" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover">
		</section>
		<section id="bottom" class="bg-color-green p-t-15 p-b-15 t-a-c">
			<section class="wrapper p-t-30 p-b-30">
			</section>
		</section>
	</section>
</section>
	<section id="candidate" class="p-t-3-p p-b-3-p">
		<section class="wrapper">
			<div class="bottom p-b-40 p-l-40 p-r-40 bg-color-white border-color-grey-400 bd-2 bd-l bd-r bd-b bz">
				<section id="bottom" class="p-t-10 p-b-10 t-a-c">
					<section class="wrapper">
						<p class="margin m-b-0 m-t-0 m-l-0 m-r-0 text-color-black t-t-u f-z-30">Enter Your details</p>
					</section>
				</section>
				{% if message %}
			    	<div class="text m-b-20">	    	
						{{message}}			
					</div>
					<br />
				{% endif %}
				<form id="example-form" enctype="multipart/form-data" method="post" action="{{url}}">
					{% csrf_token %}
				    <div>
				        <h3>Register</h3>
				        <section>
				            <div>				            	
								{% if is_edit %}
									<p class="left p-s-r w-49-p m-r-2-p">	
									<input type="text" name="profile" value="{{instance.profile}}" autocomplete="off" required="" placeholder="Profile For" disabled class="w-100-p t-a-c border-color-grey-400  p-t-10 p-b-10 f-z-16 datetimepicker is-datepick" id="id_profile">
									</p>
								{% else %}
									<p class="left p-s-r w-49-p m-r-2-p">
						            	<select name="profile" required="" data-placeholder="Profile For" class="w-100-p t-a-c border-color-grey-400 bd-2 p-t-10 p-b-10 f-z-16 select valid" id="id_profile">
										  <option value="" selected="" >Select category</option>
										  <option value="actor" >Actor</option>
										  <option value="actress">Actress</option>
										  <option value="anchor">Anchor</option>
										  <option value="supporting_actor">Supporting/Junior Actor</option>
										  <option value="models">Models</option>
										  <option value="associate_director">Associate Director</option>
										  <option value="assistant_director">Assistant Director</option>
										  <option value="camera_man">Camera Man</option>
										  <option value="camera_associate">Camera Associate</option>
										  <option value="editor">Editor</option>
										  <option value="controller">Controller</option>
										  <option value="spot_editor">Spot Editor</option>
										  <option value="music_director">Music Director</option>
										  <option value="singer">Singer</option>
										  <option value="makeup">Makeup</option>
										  <option value="costumer">Costumer</option>
										  <option value="designer">Designer</option>
										  <option value="choreographer">Choreographer</option>
										  <option value="item_dancer">Item Dancer</option>
										  <option value="professional_dancer">Professional Dancer</option>
										</select>
									</p>								
								{% endif %}
								<p class="left w-49-p p-s-r">
									{{form.gender}}
								</p>
								<p class="left w-49-p p-s-r m-r-2-p">
									{{form.name}}
								</p>
								<p class="left p-s-r w-49-p ">
									{{form.dob}}
								</p>
								
								<p class="left p-s-r w-49-p  m-r-2-p">
									{{form.mother_tounge}}
								</p>
								<p class="left w-49-p p-s-r ">
									{{form.mobile_number}}
								</p>
								<p class="left p-s-r w-49-p m-r-2-p">
									{{form.email}}
								</p>
								<p class="left w-49-p p-s-r ">
									{{form.place}}
								</p>
								<p class="left p-s-r w-49-p m-r-2-p">
									{{form.state}}
								</p>
								<p class="left w-49-p p-s-r ">
									{{form.pin}}
								</p>
								<br class="clear">
							</div>
				        </section>
				        <h3>Profile</h3>
				        <section>
				            <div>
								<p class="left p-s-r w-49-p m-r-2-p">
									{{form.height}}
								</p>
								<p class="left w-49-p p-s-r">
									{{form.weight}}
								</p>
								<p class="left w-49-p p-s-r m-r-2-p">
									{{form.body_type}}
								</p>
								<p class="left p-s-r w-49-p ">
									{{form.skin_tone}}
								</p>
								<p class="left w-49-p p-s-r m-r-2-p ">
									{{form.address}}
								</p>
								<p class="left w-49-p p-s-r ">
									{{form.additional_info}}
								</p>
								<br class="clear">
							</div>
							<div class="upload file">
								<p class="w-100-p left m-r-2-p file bg-color-light-grey p-s-r bz m-b-2-p">
									<label class="p-l-20 p-r-20 p-t-15 p-b-15 right border-color-grey-400 f-z-18 text-color-white w-175 ps-r z-i-1 t-a-c" id="#bpb">
										<small class="res">Upload Profile Photo</small>
										<img class="hidden image-upload" src="{% static 'web/images/camera.png' %}" alt="">
								    	<input type="file" id="profile_photo" name='profile_photo' size="60" hidden="hidden">
								    </label>
								    <br class="clear">
								    {% if instance.profile_photo %}
								    <b class="logo f-z-16 p-s-a l-0-p r-0-p t-0-p b-0-p m-l-10 m-t-15 o-f-h t-a-c w-60-p h-25">{{instance.profile_photo}}</b>
								    {% else %}
								    <b class="logo f-z-16 p-s-a l-0-p r-0-p t-0-p b-0-p m-l-10 m-t-15 o-f-h t-a-c w-60-p h-25 text-color-grey-500">You must upload your profile photo*</b>
								    {% endif %}
								</p>
								<br class="clear">
							</div>
							<div class="m-b-50 upload file">
								<p class="w-100-p left m-r-2-p file bg-color-light-grey  p-s-r bz m-b-2-p">
									<label class="p-l-20 p-r-20 p-t-15 p-b-15 right border-color-grey-400 f-z-18 text-color-white w-175 ps-r z-i-1 t-a-c" id="#bnb">
										<small class="res">Upload Natural Photo</small>
										<img class="hidden image-upload" src="{% static 'web/images/camera.png' %}" alt="">
								    	<input type="file" id="natural_photo" name='natural_photo' size="60" hidden="hidden" >
								    </label>
								    <br class="clear">
								    {% if instance.natural_photo %}
								    	<b class="image f-z-16 p-s-a l-0-p r-0-p t-0-p b-0-p m-l-10 m-t-15 o-f-h t-a-c w-60-p h-25">{{instance.natural_photo}}</b>
								    {% else %}
								    	<b class="image f-z-16 p-s-a l-0-p r-0-p t-0-p b-0-p m-l-10 m-t-15 o-f-h t-a-c w-60-p h-25 text-color-grey-500">You must upload your natural photo*</b>
								    {% endif %}
								</p>
							</div>
							<div class="m-b-50 upload file">
								<p class="w-100-p left m-r-2-p file bg-color-light-grey  p-s-r bz m-b-2-p">
									<label class="p-l-20 p-r-20 p-t-15 p-b-15 right border-color-grey-400 f-z-18 text-color-white w-175 ps-r z-i-1 t-a-c" id="#beb">
										<small class="res">Upload Edited Photo</small>
										<img class="hidden image-upload" src="{% static 'web/images/camera.png' %}" alt="">
								    	<input type="file" id="edited_photo" name='edited_photo' size="60" hidden="hidden" >
								    </label>
								    <br class="clear">
								    {% if instance.edited_photo %}
								    <b class="edited f-z-16 p-s-a l-0-p r-0-p t-0-p b-0-p m-l-10 m-t-15 o-f-h t-a-c w-60-p h-25">{{instance.edited_photo}}</b>
								    {% else %}
								    <b class="edited f-z-16 p-s-a l-0-p r-0-p t-0-p b-0-p m-l-10 m-t-15 o-f-h t-a-c w-60-p h-25 text-color-grey-500">You must upload your edited photo*</b>
								    {% endif %}
								</p>
							</div>
							<div class="m-b-50 upload file">
								<p class="w-100-p left m-r-2-p file bg-color-light-grey  p-s-r bz m-b-2-p">
									<label class="p-l-20 p-r-20 p-t-15 p-b-15 right border-color-grey-400 f-z-18 text-color-white w-175 ps-r z-i-1 t-a-c" id="#bmb">
										<small class="res">Upload Makeup Photo</small>
										<img class="hidden image-upload" src="{% static 'web/images/camera.png' %}" alt="">
								    	<input type="file" id="makeup_photo" name='makeup_photo' size="60" hidden="hidden" >
								    </label>
								    <br class="clear">
								    {% if instance.makeup_photo %}
								    	<b class="makeup f-z-16 p-s-a l-0-p r-0-p t-0-p b-0-p m-l-10 m-t-15 o-f-h t-a-c w-60-p h-25">{{instance.makeup_photo}}</b>
								    {% else %}
								    	<b class="makeup f-z-16 p-s-a l-0-p r-0-p t-0-p b-0-p m-l-10 m-t-15 o-f-h t-a-c w-60-p h-25 text-color-grey-500">You must upload your makeup photo*</b>
								    {% endif %}
								</p>
							</div>
							<div class="m-b-50 upload file">
								<p class="w-100-p left m-r-2-p file bg-color-light-grey  p-s-r bz m-b-2-p">
									<label class="p-l-20 p-r-20 p-t-15 p-b-15 right border-color-grey-400 f-z-18 text-color-white w-175 ps-r z-i-1 t-a-c" id="#bsb">
										<small class="res">Upload Side Photo</small>
										<img class="hidden image-upload" src="{% static 'web/images/camera.png' %}" alt="">
								    	<input type="file" id="side_photo" name='side_photo' size="60" hidden="hidden" >
								    </label>
								    <br class="clear">
								    {% if instance.side_photo %}
								    <b class="side f-z-16 p-s-a l-0-p r-0-p t-0-p b-0-p m-l-10 m-t-15 o-f-h t-a-c w-60-p h-25">{{instance.side_photo}}</b>
								    {% else %}
								    <b class="side f-z-16 p-s-a l-0-p r-0-p t-0-p b-0-p m-l-10 m-t-15 o-f-h t-a-c w-60-p h-25 text-color-grey-500">You must upload your side photo*</b>
								    {% endif %}
								</p>
							</div>
				        </section>
				        <h3>Education</h3>
				        <section>
				        	<div class='input_fields_wrap t-a-c '>
								<p class="left p-s-r w-100-p m-r-2-p ">
									<input class="w-100-p t-a-c border-color-grey-400 p-t-10 p-b-10 f-z-16" type="text" placeholder="Education" name="education" />
								</p>
								<button class="add_field_button p-b-5 p-t-5 p-r-10 p-l-10">+</button>
								<br class="clear dynamic">
							</div>
				            <div>
								<p class="left w-100-p p-s-r m-t-2-p">
									{{form.work_attended}}
								</p>
								<p class="left w-100-p p-s-r">
									{{form.media_related_studies}}
								</p>
								<br class="clear">
							</div>
							<div class='input_fields_wrap_experience t-a-c '>
								<p class="left p-s-r w-100-p m-r-2-p ">
									<input class="w-100-p t-a-c border-color-grey-400 p-t-10 p-b-10 f-z-16" type="text" placeholder="Experience" name="experience" />
								</p>
								<button class="add_field_button_experience p-b-5 p-t-5 p-r-10 p-l-10">+</button>
								<br class="clear dynamic">
							</div>
				        </section>
				        <h3>About You</h3>
				        <section>
				            <div>
								<p class="left w-100-p p-s-r m-t-2-p">
									{{form.about}}
								</p>
								<p class="left w-100-p p-s-r">
									{{form.dreams}}
								</p>
								<p class="left w-100-p p-s-r">
									{{form.media_experience}}
								</p>
								<p class="left w-100-p p-s-r">
									{{form.passion_extra_skills}}
								</p>
								<br class="clear">
							</div>
							<div class='input_fields_wrap_video t-a-c '>
								<p class="left p-s-r w-100-p m-r-2-p ">
									<input class="w-94-p left t-a-c border-color-grey-400 p-t-10 p-b-10 f-z-16" type="text" placeholder="Paste your youtube video-url" name="video_url" />
									<a class="d-b right w-5-p h-47" target= "_blank" href="https://www.youtube.com"><img class="youtube d-b w-100-p  h-47" src="{% static 'web/images/youtube.png' %}" alt=""></a>
								</p>							
								<button class="add_field_button_video p-b-5 p-t-5 p-r-10 p-l-10">+</button>
								<br class="clear dynamic">
							</div>
							<p class="left p-s-r w-100-p m-t-2-p">
								<label class="container">I agree to the Terms of Services and Privacy Policy
								  <input type="checkbox" class='agree'>
								  <span class="checkmark"></span>
								</label>
							</p>
				        </section>
				    </div>
				</form>
			</div>
		</section>
	</section>
</section>
<style>
	#candidate div.bottom {
		margin-top: -500px;
	}
	.upload label {
		background:#4CAF50 !important;
	}
	.input_fields_wrap_video p{
		display: inline-block;

	}
		
</style>
<script>
	$(document).on('change','#profile_photo',function () {
	    var file_name = (this.files[0].name);
	    $('.file .logo').html(file_name);
	});
	$(document).on('change','#natural_photo',function () {
	    var file_name = (this.files[0].name);
	    $('.file .image').html(file_name);
	});
	$(document).on('change','#edited_photo',function () {
	    var file_name = (this.files[0].name);
	    $('.file .edited').html(file_name);
	});
	$(document).on('change','#makeup_photo',function () {
	    var file_name = (this.files[0].name);
	    $('.file .makeup').html(file_name);
	});
	$(document).on('change','#side_photo',function () {
	    var file_name = (this.files[0].name);
	    $('.file .side').html(file_name);
	});
	
	$(document).ready(function(){
		
		$(document).on('change', '.agree',function() {
		    var $this = $(this);
			var checked = $this.prop('checked');
			if (checked) {
				$("a[href$='#finish']").css({"pointer-events": "auto", "cursor": "pointer"})
			}
			else {
				$("a[href$='#finish']").css({"pointer-events": "none", "cursor": "default"})
			}
		});

		$(".state-slect option[value='']").html('Select your state')
		$('.datetimepicker').datepick({format:'Y-m-d',});

	    var max_fields      = 10; //maximum input boxes allowed
	    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
	    var add_button      = $(".add_field_button");
	    var add_button_experience = $(".add_field_button_experience");
	    var add_button_video = $(".add_field_button_video");
	    var wrapper_experience = $(".input_fields_wrap_experience"); 
	    var wrapper_video = $(".input_fields_wrap_video");
	    
	    var x = 1; //initlal text box count
	    $(add_button).click(function(e){ //on add input button click
	        e.preventDefault();
	        if(x < max_fields){ //max input box allowed
	            // x++; //text box increme
	            // $(wrapper).append('<p class="t-a-c left p-s-r w-49-p m-r-2-p"><input class="w-100-p t-a-c border-color-grey-400 bd-2 p-t-10 p-b-10 f-z-16" type="text" placeholder="education" name="" /><a href="#" class="remove_field">Remove</a></p>');
	            $('<p class="t-a-c left p-s-r w-100-p m-r-2-p"><input class="w-95-p t-a-c border-color-grey-400 p-t-10 p-b-10 f-z-16" type="text" placeholder="education" name="education" /><a href="#" class="remove_field p-b-5 p-t-5 p-r-13 p-l-13 m-l-14 m-r-5 m-t-5 m-b-5">-</a></p>').insertBefore( ".add_field_button" );
	        }
	    });
	    $(add_button_experience).click(function(e){ //on add input button click
	        e.preventDefault();
	        if(x < max_fields){ //max input box allowed
	            // x++; //text box increme
	            // $(wrapper).append('<p class="t-a-c left p-s-r w-49-p m-r-2-p"><input class="w-100-p t-a-c border-color-grey-400 p-t-10 p-b-10 f-z-16" type="text" placeholder="education" name="" /><a href="#" class="remove_field">Remove</a></p>');
	            $('<p class="t-a-c left p-s-r w-100-p m-r-2-p"><input class="w-95-p t-a-c border-color-grey-400 p-t-10 p-b-10 f-z-16" type="text" placeholder="experience" name="experience" /><a href="#" class="remove_field p-b-5 p-t-5 p-r-13 p-l-13 m-l-14 m-r-5 m-t-5 m-b-5">-</a></p>').insertBefore( ".add_field_button_experience" );
	        }
	    });
	    $(add_button_video).click(function(e){ //on add input button click
	        e.preventDefault();
	        if(x < max_fields){ //max input box allowed
	            // x++; //text box increme
	            // $(wrapper).append('<p class="t-a-c left p-s-r w-49-p m-r-2-p"><input class="w-100-p t-a-c border-color-grey-400 p-t-10 p-b-10 f-z-16" type="text" placeholder="education" name="" /><a href="#" class="remove_field">Remove</a></p>');
	            $('<p class="t-a-c left p-s-r w-100-p m-r-2-p"><input class="w-95-p t-a-c border-color-grey-400 p-t-10 p-b-10 f-z-16" type="text" placeholder="Paste your youtube video-url" name="video_url" /><a href="#" class="remove_field p-b-5 p-t-5 p-r-13 p-l-13 m-l-14 m-r-5 m-t-5 m-b-5">-</a></p>').insertBefore( ".add_field_button_video" );
	        }
	    });
	    
	    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
	        e.preventDefault(); $(this).parent('p').remove(); x--;
	    })
	    $(wrapper_experience).on("click",".remove_field", function(e){ //user click on remove text
	        e.preventDefault(); $(this).parent('p').remove(); x--;
	    })
	    $(wrapper_video).on("click",".remove_field", function(e){ //user click on remove text
	        e.preventDefault(); $(this).parent('p').remove(); x--;
	    })
	});
	var form = $("#example-form");
		form.validate({
		    errorPlacement: function errorPlacement(error, element) { element.before(error); },
		});
		
		form.children("div").steps({
		    headerTag: "h3",
		    bodyTag: "section",
		    transitionEffect: "slideLeft",
		    onStepChanging: function (event, currentIndex, newIndex)
		    {
		        form.validate().settings.ignore = ":disabled,:hidden";
		        return form.valid();
		    },
		    onFinishing: function (event, currentIndex)
		    {
		        form.validate().settings.ignore = ":disabled";
		        return form.valid();
		    },

		    onFinished: function (event, currentIndex)
		    {
		        var form = $(this);
		        var post_data = new FormData($('#example-form').get(0));
		        var url = "{{url}}";
		        $.ajaxSetup({
				  headers: { "X-CSRFToken": '{{csrf_token}}' }
				});
		        $.ajax({
					url: url,
					data: post_data,
					type: "POST",
					contentType: false, 
					processData: false,
					dataType : 'json',
					success: function (resp) {
						redirect_url = resp['redirect_url']
						status = resp['status']
						message = resp['message']
						if (status=='true'){
							window.location.href = redirect_url;
						}
						else{
							alert(message)
						}
						
					},
					error: function (jqXHR, textStatus, errorThrown) {

					}
			    });
		    }

		});
		
</script>
{% endblock %}
