{% extends "web/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
	<section id="top" class="p-t-30 p-b-30" style="background: url({{static_url}}/web/images/header.png) no-repeat scroll center center / cover">
		<div class="wrapper">
			<h2 class="f-z-25 text-color-white t-a-c">The casting is amazing, your dream become an actor.</h2>
		</div>
	</section>
	<section id="middle2" style="background: url({{static_url}}/web/images/spotlight.png) no-repeat scroll center center / cover"></section>
	<section id="bottom" class="bg-color-green p-t-15 p-b-15 box-shadow-1 t-a-c">
		<section class="wrapper p-t-30 p-b-30">
			
		</section>
	</section>
</section>
	<section id="company" class="p-t-3-p p-b-3-p">
		<section class="wrapper">
			<div class="bottom p-b-40 p-l-40 p-r-40 bg-color-white border-color-grey-400 bd-2 bd-l bd-r bd-b bz">
				<section id="bottom" class="p-t-15 p-b-15 t-a-c">
					<section class="wrapper">
						<p class="margin text-color-black t-t-u f-z-30">Enter Your details</p>
					</section>
				</section>
				<form enctype="multipart/form-data" method="post" action="{{url}}">
					{% csrf_token %}					
					<div>
						<p class="left p-s-r w-49-p m-r-2-p m-t-2-p">
							{{form.name}}
						</p>
						<p class="left m-t-2-p w-49-p p-s-r">
							{{form.dob}}
						</p>
						{% if is_edit %}
							<p class="left p-s-r w-49-p m-r-2-p">	
							<input type="text" name="profile" value="{{instance.profile}}" autocomplete="off" required="" placeholder="Profile For" disabled class="w-100-p t-a-c border-color-grey-400  p-t-10 p-b-10 f-z-16 datetimepicker is-datepick" id="id_profile">
							</p>
						{% else %}
							<p class="left p-s-r w-49-p m-r-2-p">
				            	<select name="profile" required="" data-placeholder="Profile For" class="w-100-p t-a-c border-color-grey-400 bd-2 p-t-10 p-b-10 f-z-16 select valid" id="id_profile">
								  <option value="" selected="" >Select category</option>
								  <option value="actor" >Actor</option>
								  <option value="actress">Actress</option>
								  <option value="anchor">Anchor</option>
								  <option value="supporting_actor">Supporting/Junior Actor</option>
								  <option value="models">Models</option>
								  <option value="associate_director">Associate Director</option>
								  <option value="assistant_director">Assistant Director</option>
								  <option value="camera_man">Camera Man</option>
								  <option value="camera_associate">Camera Associate</option>
								  <option value="editor">Editor</option>
								  <option value="controller">Controller</option>
								  <option value="spot_editor">Spot Editor</option>
								  <option value="music_director">Music Director</option>
								  <option value="singer">Singer</option>
								  <option value="makeup">Makeup</option>
								  <option value="costumer">Costumer</option>
								  <option value="designer">Designer</option>
								  <option value="choreographer">Choreographer</option>
								  <option value="item_dancer">Item Dancer</option>
								  <option value="professional_dancer">Professional Dancer</option>
								</select>
							</p>								
						{% endif %}
						<p class="left w-49-p p-s-r">
							{{form.gender}}
						</p>
						<p class="left p-s-r w-49-p m-r-2-p m-t-2-p">
							{{form.mother_tounge}}
						</p>
						<p class="left m-t-2-p w-49-p p-s-r">
							{{form.email}}
						</p>
						<p class="left p-s-r w-49-p m-r-2-p m-t-2-p">
							{{form.place}}
						</p>
						<p class="left m-t-2-p w-49-p p-s-r">
							{{form.state}}
						</p>
						<p class="left p-s-r w-49-p m-r-2-p m-t-2-p">
							{{form.mobile_number}}
						</p>
						<p class="w-49-p left file two border-color-grey-400 bd-2 p-s-r bz m-t-2-p"> 
							<label class="p-s-a p-l-25 t-10 text-color-grey-600" for="">Profile Photo</label>
							<label style="border-left: 2px solid #BDBDBD;background: #4CAF50 !important;" class="p-l-20 p-r-20 p-t-10 p-b-10 right border-color-grey-400 f-z-16 text-color-white p-s-r" id="#bb">Upload Profile Photo
						    	<input type="file" id="profile_photo"  size="60" name='profile_photo'>
						    </label>
						    <br class="clear">
						    <b class="logo o-f-h text-color-grey-400 f-z-16 p-s-a l-0-p r-0-p t-0-p b-0-p m-a t-a-c w-100 h-25 w-45-p"></b>
						</p>
						<p class="left p-s-r w-100-p m-r-2-p m-t-2-p">
							<label class="container">I agree to the Terms of Services and Privacy Policy
							  <input type="checkbox" class='agree'>
							  <span class="checkmark"></span>
							</label>
						</p>
						<br class="clear">
					</div>
					<div class="t-a-r m-t-2-p">
						<input type='submit' name='submit' value="Submit" class="text-color-white d-i-b f-z-20 p-l-40 p-r-40 p-t-8 p-b-8 c-p bg-color-green border-color-green bd-1" />
					</div>
				</form><!--(#login > form)-->
			</div>
		</section>
	</section>
</section>
</section>
	<style>
		#company div.bottom {
			margin-top: -500px;
		}
	</style>
	<script>
		$('input[type=file]').change(function () {
		    var file_name = (this.files[0].name);
		    $('.file .logo').html(file_name);

		});
		$(document).ready(function(){
			$(".selectpicker").selectOrDie();
			$('.datetimepicker').datepick({format:'Y-m-d',});
		});
		$(':input[type="submit"]').prop('disabled', true);
		$(document).on('change', '.agree',function() {
		    var $this = $(this);
			var checked = $this.prop('checked');
			if (checked) {
				$(':input[type="submit"]').prop('disabled', false);
			}
			else {
				$(':input[type="submit"]').prop('disabled', true);
			}

		});

	</script>
{% endblock %}
