{% extends "web/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
{% load main_template_tags %}

	<section id="about">
		<section id="top" class="p-t-20 p-b-20" style="background: url({{static_url}}web/images/header.png) no-repeat scroll center center / cover">
			<div class="wrapper">
				<h2 class="f-z-25 text-color-white t-a-c">{{quote1}}</h2>
			</div>
		</section>
		<section id="middle2" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover">
			<!--<section id="video-frame">
				<div class="html5gallery" data-responsive="true" data-titleoverlay="true" data-titleautohide="false" data-onchange="onSlideChange" data-skin="light" data-autoplayvideo='true' data-autoslide="true" data-random="true" data-width="600" data-height="280" style="display:none;">
					
					<a href="https://www.youtube.com/embed/815MDYLvgu0"><img src="http://img.youtube.com/vi/815MDYLvgu0/0.jpg"></a>
					{% for promotion in promotion_videos %}
					<a href="{{promotion.video.video_url}}"><img src="http://img.youtube.com/vi/{{promotion.video.video_code}}/0.jpg" alt="Youtube Video"></a>
					{% endfor %}
				</div>
			</section>-->
		</section>
		<section id="bottom" class="bg-color-green p-t-15 p-b-15 box-shadow-1 t-a-c">	
		</section>
	</section>
</section>
	<section class="about p-b-3-p candidates-list">
		<section class="wrapper">
			<div class="padding-4 bg-color-white p-t-30 p-b-50 p-l-40 p-r-40  border-color-black bd-l bd-r bd-b bz">
				
				<h2 class='d-b t-a-c f-z-40 text-color-green m-b-20'>Candidates</h2>
				<div class='d-b m-b-3-p candidate-filter'>
					<form action="{% url 'web:candidates' %}" method='get' class='d-b' >
						<p class="left w-70-p p-s-r m-r-2-p t-a-c filter ">
							{{form.category}}
						</p>
						<div class="d-i-b w-28-p submit-submit">
							<input type='submit' name='submit' value="Submit" class="filter-submit w-100-p text-color-white d-i-b f-z-20 p-t-9 p-b-9 c-p bg-color-green border-color-green bd-1" />
						</div>
						<br class="clear">
					</form>
				</div>
				
				<ul>
					{% for instance in instances %}
						<li>
							<div class="candidate-card">
								<div class="content">
									<div class="top">
											{% if instance.profile_photo %}
											<img src="{{instance.profile_photo.crop.300x300}}" alt="">
											{% else %}
											<img src="{% static 'web/images/profile.png' %}" alt="">
											{% endif %}
									</div>
									<div class="candidate-content">
										<h3>{{instance.name|camelize}}</h3>
										<h4>Category : {{instance.profile|camelize}}</h4>
										<h4>DOB : {{instance.dob}}</h4>
										<h4>Place : {{instance.place|camelize}}</h4>

									</div>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
				<br class="clear">
			</div>
		</section>
	</section>
{% endblock %}
