{% extends "web/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
{% load web_template_tags %}
{% load main_template_tags %}
	<section id="about">
		<section id="top" class="p-t-20 p-b-20" style="background: url({{static_url}}web/images/header.png) no-repeat scroll center center / cover">
			<div class="wrapper">
				<h2 class="f-z-25 text-color-white t-a-c">{{quote1}}</h2>
			</div>
		</section>
		<section id="middle2" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover"></section>
		<section id="bottom" class="bg-color-green p-t-15 p-b-15 box-shadow-1 t-a-c">
			<section class="wrapper">
				<p class="margin text-color-white f-z-35">About</p>
			</section>
		</section>
	</section>
</section>
	<section class="about candidate-profile p-t-3-p p-b-3-p">
		<section class="wrapper">
			<section class="bg-color-white p-t-20 p-b-20 p-l-20 p-r-20  bg-color-custom bd-l bd-r bd-b bz tabs">
				<div class="top border-color-black bd-l bd-r bd-t p-s-r">
					<div class="h-250 p-s-r">
						{% if instance.cover_photo %}
						<img class="d-b w-100-p h-250" src="{{instance.cover_photo.url}}" alt="">
						{% else %}
						<img class="d-b w-100-p h-250" src="{% static 'web/images/prof-bg.png' %}" alt="">
						{% endif %}
						<form action="{% url 'web:upload_candidate_cover' %}?pk={{instance.pk}}" enctype="multipart/form-data" method="post">
							{% csrf_token %}
							
							<label class="image-upload p-s-a t-25 r-25 " for="cover-photo"><img class="d-b w-100-p" src="{% static 'web/images/camera.png' %}" alt=""></label>
							<input id="cover-photo" name='cover_photo' type="file" style="display:none;">
							<input id='upload_cover' type="submit" value="submit" hidden=hidden>
						</form>
						<div style="padding-left: 300px;" class="name">
							<h4 class="f-z-35 text-color-green">{{instance.name|camelize}}</h4>
							<p>{{instance.profile|camelize}}</p>
						</div>
					</div>
					<div class="left one p-s-r m-l-40" style="margin-top: -120px;">
						{% if instance.profile_photo %}
						<img class="img  dir-photo" src="{{instance.profile_photo.crop.200x200}}" alt="Image">
						{% else %}
						<img class="img" src="{% static 'web/images/man.jpg' %}" alt="Image">
						{% endif %}
						<form action="{% url 'web:upload_candidate_cover' %}?pk={{instance.pk}}" enctype="multipart/form-data" method="post">
							{% csrf_token %}
							
							<label class="image-upload p-s-a t-10 r-10 w-25 h-20" for="profile-photo"><img class="d-b w-100-p" src="{% static 'web/images/camera.png' %}" alt=""></label>
							<input id="profile-photo" name='profile_photo' type="file" style="display:none;">
							<input id='upload_profile' type="submit" value="submit" hidden=hidden>
						</form>
					</div>
					<br class="clear">
				</div>
				<div class="bottom">
					<div class="padding border-color-black bd-b bd-r bd-l m-b-30">
						<ul class="right w-74-p">
							<li class="left bz c-p p-s-r js-tabs-title {% if is_profile %}active{% endif %}" data-tab="#tab-1"><h4 class="d-i-b p-b-20 p-l-30 p-s-r"><span class="d-i-b w-20 h-20 p-s-a l-0-p t-0-p b-20 m-a-0 m-r-5"><img src="{% static 'web/images/pf.png' %}" alt="" class="w-100-p d-b"></span>Profile</h4></li>
							<li class="left bz c-p p-s-r js-tabs-title {% if is_job_list %}active{% endif %}" data-tab="#tab-2"><h4 class="d-i-b p-b-20 p-l-30 p-s-r"><span class="d-i-b w-20 h-20 p-s-a l-0-p t-0-p b-20 m-a-0 m-r-5"><img src="{% static 'web/images/lt.png' %}" alt="" class="w-100-p d-b"></span>Job List</h4></li>
							<li class="left bz c-p p-s-r js-tabs-title {% if is_status %}active{% endif %}" data-tab="#tab-3"><h4 class="d-i-b p-b-20 p-l-30 p-s-r"><span class="d-i-b w-20 h-20 p-s-a l-0-p t-0-p b-20 m-a-0 m-r-5"><img src="{% static 'web/images/st.png' %}" alt="" class="w-100-p d-b"></span>Applied</h4></li>
							<li class="left bz c-p p-s-r js-tabs-title {% if is_status %}active{% endif %}" data-tab="#tab-4"><h4 class="d-i-b p-b-20 p-l-30 p-s-r"><span class="d-i-b w-20 h-20 p-s-a l-0-p t-0-p b-20 m-a-0 m-r-5"><img src="{% static 'web/images/icons/checked.png' %}" alt="" class="w-100-p d-b"></span>Selected</h4></li>
							<li class="left bz c-p p-s-r js-tabs-title signout"><a class='left' href="{% url 'auth_logout' %}"><h4 class="d-i-b p-b-20 p-l-30 p-s-r"><span class="d-i-b w-20 h-20 p-s-a l-0-p t-0-p b-20 m-a-0 m-r-5"><img src="{% static 'web/images/lo.png' %}" alt="" class="w-100-p d-b"></span>Sign Out</h4></a></li>
						</ul>
						<br class="clear">
					</div>
					<div class="hidden js-tabs-content {% if is_profile %}active{% endif %}" id="tab-1">
						<p class='w-100-p m-b-10'><a href="{% url 'candidates:edit' pk=instance.pk %}" class="right post">Edit</a><br class="clear"></p>
						
						<div class="left p-l-40 p-t-30 p-r-20 p-b-30 img w-48-p m-r-2-p bg-color-custom bz m-b-2-p">
							<ul class="left">
								<li class="m-b-5"><small class="f-z-18 m-r-10">Name :</small><b class="f-z-16 text-color-green"> {{instance.name|camelize}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Date Of Birth :</small><b class="f-z-16 text-color-green"> {{instance.dob|date:'d/m/Y'}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Gender :</small><b class="f-z-16 text-color-green"> {{instance.get_gender_display}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Mother Toungue :</small><b class="f-z-16 text-color-green">{{instance.language|camelize}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Mobile :</small><b class="f-z-16 text-color-green"> {{instance.mobile_number}}</b></li>
								<li><small class="f-z-18 m-r-10">Email :</small><b class="f-z-16 text-color-green"> {{instance.email}}</b></li>
							</ul>
							<br class="clear">
						</div>
						<div class="left p-l-40 p-t-30 p-r-20 p-b-30 img w-48-p m-r-2-p bg-color-custom bz m-b-2-p">
							<ul class="left">
								<li class="m-b-5"><small class="f-z-18 m-r-10">Height :</small><b class="f-z-16 text-color-green"> {{instance.height|default:"-"}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">weight :</small><b class="f-z-16 text-color-green"> {{instance.weight|default:"-"}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Body type :</small><b class="f-z-16 text-color-green"> {{instance.body_type|default:"-"|camelize}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Skin Tone :</small><b class="f-z-16 text-color-green">{{instance.skin_tone|default:"-"|camelize}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Additional Info :</small><b class="f-z-16 text-color-green"> {{instance.additional_info|default:"-"|camelize}}</b></li>
								<li><small class="f-z-18 m-r-10">Address :</small><b class="f-z-16 text-color-green"> {{instance.address|default:"-"|camelize}}</b></li>
							</ul>
							<br class="clear">
						</div>
						<div class="left p-l-40 p-t-30 p-r-20 p-b-30 img w-48-p m-r-2-p bg-color-custom bz m-b-2-p">
							<p>Photo</p>
							{% if instance.natural_photo %}
							<img class="w-48-p" src="{{instance.natural_photo.url}}" alt="">
							{% endif %}
							{% if instance.edited_photo %}
							<img class="w-48-p" src="{{instance.edited_photo.url}}" alt="">
							{% endif %}
							{% if instance.makeup_photo %}
							<img class="w-48-p" src="{{instance.makeup_photo.url}}" alt="">
							{% endif %}
							{% if instance.side_photo %}
							<img class="w-48-p" src="{{instance.side_photo.url}}" alt="">
							{% endif %}
						</div>
						<div class="left p-l-40 p-t-30 p-r-20 p-b-30 img w-48-p m-r-2-p bg-color-custom bz m-b-2-p">
							<ul class="left">
								<li class="m-b-5"><small class="f-z-18 m-r-10">Work Attended :</small><b class="f-z-16 text-color-green"> {{instance.work_attended|default:"-"|upfirstletter}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Media Studies :</small><b class="f-z-16 text-color-green"> {{instance.media_related_studies|default:"-"|upfirstletter}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">About :</small><b class="f-z-16 text-color-green"> {{instance.about|default:"-"|upfirstletter}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Dreams :</small><b class="f-z-16 text-color-green">{{instance.dreams|default:"-"|upfirstletter}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Media Experience :</small><b class="f-z-16 text-color-green"> {{instance.media_experiences|default:"-"|upfirstletter}}</b></li>
								<li><small class="f-z-18 m-r-10">Passion and Extra skills :</small><b class="f-z-16 text-color-green"> {{instance.passion_extra_skills|default:"-"|upfirstletter}}</b></li>
							</ul>
							<br class="clear">
						</div>
						<div class="left p-l-40 p-t-30 p-r-20 p-b-30 img w-48-p m-r-2-p bg-color-custom bz m-b-2-p">
							<p>EDUCATIONS</p>
							<ul class="left">
								{% for education in educations %}
								<li class="m-b-5"><small class="f-z-18 m-r-10"></small><b class="f-z-16 text-color-green"> {{education.name|upfirstletter}}</b></li>
								{% endfor %}
								
							</ul>
							<br class="clear">
						</div>
						<div class="left p-l-40 p-t-30 p-r-20 p-b-30 img w-48-p m-r-2-p bg-color-custom bz m-b-2-p">
							<p>EXPERIENCES</p>
							<ul class="left">
								{% for experience in experiences %}
								<li class="m-b-5"><small class="f-z-18 m-r-10"></small><b class="f-z-16 text-color-green"> {{experience.experience|upfirstletter}}</b></li>
								{% endfor %}
							</ul>
							<br class="clear">
						</div>
						<!--<div class="left p-l-40 p-t-30 p-r-20 p-b-30 img w-100-p m-r-2-p bg-color-custom bz m-b-2-p">
							<p>Videos</p>
							<ul class="left w-100-p full">
								{% for video in videos %}
								<li class="m-b-2-p left m-r-2-p t-a-c videos p-s-r w-23-5-p h-190">
									<iframe class="p-s-a l-0-p r-0-p t-0-p m-a" width="100%" height="160" src="https://www.youtube.com/embed/{{video.video_code}}" frameborder="0" allow="autoplay;" allowfullscreen></iframe>
									<div class="p-s-a b-0 w-100-p"><a data-id="{{video.pk}}" href="{% url 'web:promote_video' pk=video.pk %}" data-text="{{confirm_promotion_video}}" data-title="Are you sure?" class='post d-b action-button remove button'>Promote</a></div>
								</li>
								{% endfor %}
							</ul>
							<br class="clear">
						</div>-->
						<br class="clear">
					</div>
					<div class="hidden js-tabs-content {% if is_job_list %}active{% endif %}" id="tab-2">
						{% if job_lists %}							
								<ul class="w-100-p left tabs-tab">
									{% for job in job_lists %}
									<li class="tabs-tab">
										<div class="profile-card">
										{% if job.employer.cover_photo %}
											<div class="card-top" style="background: url({{job.employer.cover_photo.url}}) no-repeat scroll center center / cover;background-size:cover"></div>
										{% else %}
											<div class="card-top" style="background: url({{static_url}}/web/images/prof-bg.png) no-repeat scroll center center / cover"></div>
										{% endif %}
											<div class="card-content">
											{% if job.employer.director_photo %}
													<img src="{{job.employer.director_photo.url}}" alt="" class="profile-thumb">
											{% else %}
													<img src="{% static 'web/images/profile.png' %}" alt="" class="profile-thumb">
											{% endif %}
												<div class="content">
													<h1><span>Category:</span> {{job.employer.get_category_display |truncatechars:10}}</h1>
													<h1><span>Title:</span> {{job.employer.film_name |truncatechars:10}}</h1>
													<h2><span>Director:</span> {{job.employer.director_name |truncatechars:10}}</h2>
													<p>Last Date: {{job.last_date|date:"d/m/Y"}}</p>
													<span><img src="{% static 'web/images/cd.png' %}" alt="">{{job.lead_actor|default:"-" |truncatechars:10}}</span>
													<span><img src="{% static 'web/images/female.png' %}" alt="">{{job.lead_actress|default:"-" |truncatechars:10}}</span>
												</div>
											</div>
											<div class="card-bottom">
												{% if not job.pk|is_apply:instance.pk %}
												<a data-id="{{job.pk}}" href="{% url 'jobs:apply' pk=job.pk %}" data-text="{{confirm_job_apply}}" data-title="Are you sure?" class='action-button remove button'>Interest</a>
												{% else %}
												<a class='disabled'>Applied &#10004</a>
												{% endif %}
											</div>
										</div>
									</li>
									{% endfor%}
								</ul>
								<br class="clear">							
						{% else %}
							<div class='left p-l-40 p-t-30 p-r-20 p-b-30 img w-100-p bg-color-custom bz'>
								<div>
									<p>Nothing Found!</p>
								</div>
							</div>
						{% endif %}
						<br class="clear">
					</div>
					<div class="hidden js-tabs-content {% if is_status %}active{% endif %}" id="tab-3">
						
						{% if applied_jobs %}
								<ul class="w-100-p left tabs-tab">
								{% for applied in applied_jobs %}
									<li class="tabs-tab left">
										<div class="profile-card">
										{% if applied.vacancy.employer.cover_photo %}
											<div class="card-top" style="background: url({{applied.vacancy.employer.cover_photo.url}}) no-repeat scroll center center / cover"></div>
										{% else %}
											<div class="card-top" style="background: url({{static_url}}/web/images/prof-bg.png) no-repeat scroll center center / cover"></div>
										{% endif %}
											<div class="card-content">
											{% if applied.vacancy.employer.director_photo %}
													<img src="{{applied.vacancy.employer.director_photo.url}}" alt="" class="profile-thumb">
											{% else %}
													<img src="{% static 'web/images/profile.png' %}" alt="" class="profile-thumb">
											{% endif %}
												<div class="content">
													<h1><span>Category:</span> {{applied.vacancy.employer.category|camelize}}</h1>
													<h1><span>Title:</span> {{applied.vacancy.employer.film_name|camelize}}</h1>
													<h2><span>Director:</span> {{applied.vacancy.employer.director_name|camelize}}</h2>
													<p>Last Date: {{applied.vacancy.last_date|date:"d/m/Y"}}</p>
													<span><img src="{% static 'web/images/cd.png' %}" alt="">{{applied.vacancy.lead_actor|default:"-"|camelize}}</span>
													<span><img src="{% static 'web/images/female.png' %}" alt="">{{applied.vacancy.lead_actress|default:"-"|camelize}}</span>
												</div>
											</div>
										</div>
									</li>
									{% endfor%}	
								</ul>
								<br class="clear">
												
							
						{% else %}
							<div class='left p-l-40 p-t-30 p-r-20 p-b-30 img w-100-p bg-color-custom  bz'>
								<div>
									<p>Nothing Found!</p>
								</div>
							</div>
						{% endif %}
						<br class="clear">
					</div>
					<div class="hidden js-tabs-content {% if is_status %}active{% endif %}" id="tab-4">
						
						{% if selected_jobs %}							
							<ul class="w-100-p left tabs-tab">
								{% for job in selected_jobs %}
								<li class="tabs-tab">
									<div class="profile-card">
									{% if job.vacancy.employer.cover_photo %}
										<div class="card-top" style="background: url({{job.vacancy.employer.cover_photo.url}}) no-repeat scroll center center / cover"></div>
									{% else %}
										<div class="card-top" style="background: url({{static_url}}/web/images/prof-bg.png) no-repeat scroll center center / cover"></div>
									{% endif %}
										<div class="card-content">
										{% if job.vacancy.employer.director_photo %}
												<img src="{{job.vacancy.employer.director_photo.url}}" alt="" class="profile-thumb">
										{% else %}
												<img src="{% static 'web/images/profile.png' %}" alt="" class="profile-thumb">
										{% endif %}
											<div class="content">
												<h1><span>Film:</span> {{job.vacancy.employer.film_name|camelize}}</h1>
												<h2><span>Place:</span> {{job.interview.place|camelize}}</h2>
												<p>Date: {{job.interview.date}}</p>
												<div>
													<span class='time'>From:{{job.interview.from_time}}</span>
												</div>
												<div>
													<span class="time">To:{{job.interview.to_time}}</span>
												</div>
												<div>
													<span class='time'>Ph1 : {{job.interview.contact_number}}</span>
												</div>
												<div>
													<span class="time">Ph2 : {{job.interview.second_contact_number}}</span>
												</div>
											</div>
										</div>
									</div>
								</li>
								{% endfor%}
							</ul>
							<br class="clear">						
							
						{% else %}
							<div class='left p-l-40 p-t-30 p-r-20 p-b-30 img w-100-p bg-color-custom bz'>
								<div>
									<p>Nothing Found!</p>
								</div>
							</div>
						{% endif %}
						<br class="clear">
					</div>
				</div>
			</section>
		</section>
	</section>
	<script>
		$(document).on('change','#cover-photo',function () {
            file = $('#cover-photo').val()
            if(file){
                $('#upload_cover').click()
            }
        });
        $(document).on('change','#profile-photo',function () {
            file = $('#profile-photo').val()
            if(file){
                $('#upload_profile').click()
            }
        });
	</script>
{% endblock %}