{% extends "web/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
{% load web_template_tags %}
{% load main_template_tags %}
	<section id="about">
		<section id="top" class="p-t-20 p-b-20" style="background: url({{static_url}}web/images/header.png) no-repeat scroll center center / cover">
			<div class="wrapper">
				<h2 class="f-z-25 text-color-white t-a-c">{{quote1}}</h2>
			</div>
		</section>
		<section id="middle2" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover">
			
		</section>
		<section id="bottom" class="bg-color-green p-t-15 p-b-15 box-shadow-1 t-a-c">
			
		</section>
	</section>
</section>
	<section class="about p-t-3-p p-b-3-p candidate-single">
		<section class="wrapper">
			<section class="bg-color-white p-t-20 p-b-20 p-l-20 p-r-20  border-color-black bd-l bd-r bd-b bz tabs">
				<div class="top border-color-black bd-l bd-r">
					<div class="h-250 p-s-r">
						{% if instance.cover_photo %}
							<img class="d-b w-100-p h-250" src="{{instance.cover_photo.crop.200x200}}" alt="">
						{% else %}
							<img class="d-b w-100-p h-250" src="{% static 'web/images/prof-bg.png' %}" alt="">
						{% endif %}
					</div>
					<div class="p-s-r actor-image" style="margin: -110px 0 0 30px;">
						{% if instance.profile_photo %}
							<img class="img dir-photo" src="{{instance.profile_photo.url}}" alt="Image">
						{% else %}
							<img class="img" src="{% static 'web/images/man.jpg' %}" alt="Image">
						{% endif %}
					</div>
					<div class="actor p-s-r l-280" style="top: -75px">
						<h4 class="f-z-35 text-color-green">{{instance.name|camelize}}</h4>
						<p>Actor</p>
					</div>
				</div>
				<div class="bottom">
					<div class="border-color-black bd-b bd-r bd-l m-b-30">
						<ul class="right w-60-p">
							<li class="left bz c-p p-s-r js-tabs-title active" data-tab="#tab-1"><h4 class="d-i-b p-b-20 p-l-30 p-s-r"><span class="d-i-b w-20 h-20 p-s-a l-0-p t-0-p b-20 m-a-0 m-r-5"><img src="{% static 'web/images/cd.png' %}" alt="" class="w-100-p d-b"></span>Profile</h4></li>
							<li class="left bz c-p p-s-r js-tabs-title" data-tab="#tab-2"><h4 class="d-i-b p-b-20 p-l-30 p-s-r"><span class="d-i-b w-20 h-20 p-s-a l-0-p t-0-p b-20 m-a-0 m-r-5"><img src="{% static 'web/images/icons/work.png' %}" alt="" class="w-100-p d-b"></span>Experience</h4></li>
							<li class="left bz c-p p-s-r js-tabs-title" data-tab="#tab-3"><h4 class="d-i-b p-b-20 p-l-30 p-s-r"><span class="d-i-b w-20 h-20 p-s-a l-0-p t-0-p b-20 m-a-0 m-r-5"><img src="{% static 'web/images/icons/video.png' %}" alt="" class="w-100-p d-b"></span>Videos</h4></li>
							<li class="left bz c-p p-s-r js-tabs-title" data-tab="#tab-4"><h4 class="d-i-b p-b-20 p-l-30 p-s-r"><span class="d-i-b w-20 h-20 p-s-a l-0-p t-0-p b-20 m-a-0 m-r-5"><img src="{% static 'web/images/icons/im.png' %}" alt="" class="w-100-p d-b"></span>Photo</h4></li>
						</ul>
						<br class="clear">
					</div>
					<div class="hidden js-tabs-content active" id="tab-1">
						<div class="left p-l-40 p-t-30 p-r-20 p-b-30 img w-48-p m-r-2-p bg-color-custom bz m-b-2-p">
							<ul class="left">
								<li class="m-b-5"><small class="f-z-18 m-r-10">Name :</small><b class="f-z-16 text-color-green"> {{instance.name|camelize}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Date Of Birth :</small><b class="f-z-16 text-color-green"> {{instance.dob}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Gender :</small><b class="f-z-16 text-color-green"> {{instance.get_gender_display}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Mother Toungue :</small><b class="f-z-16 text-color-green">{{instance.language|camelize}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Mobile :</small><b class="f-z-16 text-color-green"> {{instance.mobile_number}}</b></li>
								<li><small class="f-z-18 m-r-10">Email :</small><b class="f-z-16 text-color-green"> {{instance.email}}</b></li>
							</ul>
							<br class="clear">
						</div>
						<div class="left p-l-40 p-t-30 p-r-20 p-b-30 img w-48-p m-r-2-p bg-color-custom bz m-b-2-p">
							<ul class="left">
								<li class="m-b-5"><small class="f-z-18 m-r-10">Height :</small><b class="f-z-16 text-color-green"> {{instance.height|default:"-"|camelize}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">weight :</small><b class="f-z-16 text-color-green"> {{instance.weight|default:"-"}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Body type :</small><b class="f-z-16 text-color-green"> {{instance.body_type|default:"-"|camelize}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Skin Tone :</small><b class="f-z-16 text-color-green">{{instance.skin_tone|default:"-"|camelize}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Additional Info :</small><b class="f-z-16 text-color-green"> {{instance.additional_ingo|default:"-"|camelize}}</b></li>
								<li><small class="f-z-18 m-r-10">Address :</small><b class="f-z-16 text-color-green"> {{instance.address|default:"-"|camelize}}</b></li>
							</ul>
							<br class="clear">
						</div>
						<div class="left p-l-40 p-t-30 p-r-20 p-b-30 img w-48-p m-r-2-p bg-color-custom bz m-b-2-p">
							<ul class="left">
								<li class="m-b-5"><small class="f-z-18 m-r-10">Work Attended :</small><b class="f-z-16 text-color-green"> {{instance.work_attended|default:"-"|camelize}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Media Studies :</small><b class="f-z-16 text-color-green"> {{instance.media_related_studies|default:"-"|camelize}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">About :</small><b class="f-z-16 text-color-green"> {{instance.about|default:"-"|camelize}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Dreams :</small><b class="f-z-16 text-color-green">{{instance.dreams|default:"-"|camelize}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Media Experience :</small><b class="f-z-16 text-color-green"> {{instance.media_experiences|default:"-"|camelize}}</b></li>
								<li><small class="f-z-18 m-r-10">Passion and Extra skills :</small><b class="f-z-16 text-color-green"> {{instance.passion_extra_skills|default:"-"|camelize}}</b></li>
							</ul>
							<br class="clear">
						</div>
						<br class="clear">
					</div>
					<div class="hidden js-tabs-content" id="tab-2">
						{% if experiences %}
						<div class="left p-l-40 p-t-30 p-r-20 p-b-30 img w-48-p m-r-2-p bg-color-custom bz m-b-2-p">
							<p>EXPERIENCES</p>
							<ul class="left">
								{% for experience in experiences %}
								<li class="m-b-5"><small class="f-z-18 m-r-10"></small><b class="f-z-16 text-color-green"> {{experience.experience}}</b></li>
								{% endfor %}
							</ul>
							<br class="clear">
						</div>
						{% else %}
						<div class='left p-l-40 p-t-30 p-r-20 p-b-30 img w-100-p bg-color-custom bz'>
							<div>
								<p>Nothing Found!</p>
							</div>
						</div>
						{% endif %}
						<br class="clear">
					</div>
					<!--<div class=" hidden js-tabs-content" id="tab-3">
						{% if videos %}
						<div class="html5gallery" data-skin="darkness" width="100%" data-height="400" style="display:none;">
							{% for video in videos %}
							 <a href="{{video.video_url}}"><img src="" alt="Youtube Video"></a>
							{% endfor %}
						</div>
						{% else %}
						<div class='left p-l-40 p-t-30 p-r-20 p-b-30 img w-100-p bg-color-custom bz'>
							<div>
								<p>Nothing Found!</p>
							</div>
						</div>
						{% endif %}
						<br class="clear">
					</div>-->
					<div class="hidden js-tabs-content gallery" id="tab-4">
						<ul class="w-100-p left">
							<li class="left">
								<img class="d-b w-100-p" src="{{instance.natural_photo.url}}" alt="">
							</li>
							<li class="left">
								<img class="d-b w-100-p" src="{{instance.side_photo.url}}" alt="">
							</li>
							<li class="left">
								<img class="d-b w-100-p" src="{{instance.makeup_photo.url}}" alt="">
							</li>
							<li class="left">
								<img class="d-b w-100-p" src="{{instance.edited_photo.url}}" alt="">
							</li>
						</ul>
						<br class="clear">
					</div>
				</div>
			</section>
		</section>
	</section>
{% endblock %}
{% block static %}
	
{% endblock %}