{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>

            <div class="card">
                <form class="" enctype="multipart/form-data" method="post" action="{{url}}">
                	{% csrf_token %}

                	{% if invalid_promo_code %}
						<div role="alert" class="alert alert-danger">Invalid Promo Code. Please try another or leave it blank.</div>
					{% endif %}

                    <div class="card-body card-padding">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group fg-line">
	                                <label for="{{ form.name.id_for_label }}">
	                                	{{ form.name.label }}
	                                	{% if form.name.field.required %}
							        		<small class="star">*</small>
							        	{% endif %}

							        	{% if form.name.help_text %}
							        		<span data-original-title="Field Info" title="" data-content="{{ form.name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                    {% endif %}
	                                </label>
	                                {{ form.name }}

	                                {% if form.name.errors %}
	                                	<label class="error">{{ form.name.errors.as_text }}</label>
	                                {% endif %}
	                            </div>

	                            <div class="form-group fg-line">
	                                <label for="{{ form.phone.id_for_label }}">
	                                	{{ form.phone.label }}
	                                	{% if form.phone.field.required %}
							        		<small class="star">*</small>
							        	{% endif %}

							        	{% if form.phone.help_text %}
							        		<span data-original-title="Field Info" title="" data-content="{{ form.phone.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                    {% endif %}
	                                </label>
	                                {{ form.phone }}

	                                {% if form.phone.errors %}
	                                	<label class="error">{{ form.phone.errors.as_text }}</label>
	                                {% endif %}
	                            </div>

	                            <div class="form-group fg-line">
	                                <label for="{{ form.website.id_for_label }}">
	                                	{{ form.website.label }}
	                                	{% if form.website.field.required %}
							        		<small class="star">*</small>
							        	{% endif %}

							        	{% if form.website.help_text %}
							        		<span data-original-title="Field Info" title="" data-content="{{ form.website.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                    {% endif %}
	                                </label>
	                                {{ form.website }}

	                                {% if form.website.errors %}
	                                	<label class="error">{{ form.website.errors.as_text }}</label>
	                                {% endif %}
	                            </div>
	                            <div class="form-group fg-line">
	                                <label for="{{ form.fssai_number.id_for_label }}">
	                                	{{ form.fssai_number.label }}
	                                	{% if form.fssai_number.field.required %}
							        		<small class="star">*</small>
							        	{% endif %}

							        	{% if form.fssai_number.help_text %}
							        		<span data-original-title="Field Info" title="" data-content="{{ form.fssai_number.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                    {% endif %}
	                                </label>
	                                {{ form.fssai_number }}

	                                {% if form.fssai_number.errors %}
	                                	<label class="error">{{ form.fssai_number.errors.as_text }}</label>
	                                {% endif %}
	                            </div>

	                            <div class="form-group fg-line">
	                                <label for="{{ form.gstin.id_for_label }}">
	                                	{{ form.gstin.label }}
	                                	{% if form.gstin.field.required %}
							        		<small class="star">*</small>
							        	{% endif %}

							        	{% if form.gstin.help_text %}
							        		<span data-original-title="Field Info" title="" data-content="{{ form.gstin.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                    {% endif %}
	                                </label>
	                                {{ form.gstin }}

	                                {% if form.gstin.errors %}
	                                	<label class="error">{{ form.gstin.errors.as_text }}</label>
	                                {% endif %}
	                            </div>
								<div class="form-group fg-line m-b-0">
	                                <label for="{{ form.commission_per_packet.id_for_label }}">
	                                	{{ form.commission_per_packet.label }}
	                                	{% if form.commission_per_packet.field.required %}
							        		<small class="star">*</small>
							        	{% endif %}

							        	{% if form.commission_per_packet.help_text %}
							        		<span data-original-title="Field Info" title="" data-content="{{ form.commission_per_packet.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                    {% endif %}
	                                </label>
	                                {{ form.commission_per_packet }}

	                                {% if form.commission_per_packet.errors %}
	                                	<label class="error">{{ form.commission_per_packet.errors.as_text }}</label>
	                                {% endif %}
	                            </div>

                            </div>

                            <div class="col-sm-6">
                                 <div class="form-group fg-line">
	                                <label for="{{ form.email.id_for_label }}">
	                                	{{ form.email.label }}
	                                	{% if form.email.field.required %}
							        		<small class="star">*</small>
							        	{% endif %}

							        	{% if form.email.help_text %}
							        		<span data-original-title="Field Info" title="" data-content="{{ form.email.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                    {% endif %}
	                                </label>
	                                {{ form.email }}

	                                {% if form.email.errors %}
	                                	<label class="error">{{ form.email.errors.as_text }}</label>
	                                {% endif %}
	                            </div>

                                 <div class="form-group fg-line">
	                                <label for="{{ form.address.id_for_label }}">
	                                	{{ form.address.label }}
	                                	{% if form.address.field.required %}
							        		<small class="star">*</small>
							        	{% endif %}

							        	{% if form.address.help_text %}
							        		<span data-original-title="Field Info" title="" data-content="{{ form.address.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                    {% endif %}
	                                </label>
	                                {{ form.address }}

	                                {% if form.address.errors %}
	                                	<label class="error">{{ form.address.errors.as_text }}</label>
	                                {% endif %}
	                            </div>

	                            <div class="form-group fg-line">
	                                <label for="{{ form.state.id_for_label }}">
	                                	{{ form.state.label }}
	                                	{% if form.state.field.required %}
							        		<small class="star">*</small>
							        	{% endif %}

							        	{% if form.state.help_text %}
							        		<span data-original-title="Field Info" title="" data-content="{{ form.state.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
	                                    {% endif %}
	                                </label>
	                                {{ form.state }}

	                                {% if form.state.errors %}
	                                	<label class="error">{{ form.state.errors.as_text }}</label>
	                                {% endif %}
	                            </div>

	                            <div class="form-group fg-line">
	                                <label for="{{ form.theme.id_for_label }}">
	                                	{{ form.theme.label }}
	                                	{% if form.theme.field.required %}
							        		<small class="star">*</small>
							        	{% endif %}

							        	{% if form.theme.help_text %}
							        		<span data-original-title="Field Info" title="" data-content="{{ form.theme.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                    {% endif %}
	                                </label>
	                                {{ form.theme }}

	                                {% if form.theme.errors %}
	                                	<label class="error">{{ form.theme.errors.as_text }}</label>
	                                {% endif %}
	                            </div>

	                            <div class="form-group fg-line">
	                                <label for="{{ form.bill_print_type.id_for_label }}">
	                                	{{ form.bill_print_type.label }}
	                                	{% if form.bill_print_type.field.required %}
							        		<small class="star">*</small>
							        	{% endif %}

							        	{% if form.bill_print_type.help_text %}
							        		<span data-original-title="Field Info" title="" data-content="{{ form.bill_print_type.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                    {% endif %}
	                                </label>
	                                {{ form.bill_print_type }}

	                                {% if form.bill_print_type.errors %}
	                                	<label class="error">{{ form.bill_print_type.errors.as_text }}</label>
	                                {% endif %}
	                            </div>


	                            <div class="form-group fg-line m-b-0">
	                                <label for="{{ form.logo.id_for_label }}">
	                                	{{ form.logo.label }}
	                                	{% if form.logo.field.required %}
							        		<small class="star">*</small>
							        	{% endif %}

							        	{% if form.logo.help_text %}
							        		<span data-original-title="Field Info" title="" data-content="{{ form.logo.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                    {% endif %}
	                                </label>
	                                <br />
	                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-primary btn-file m-r-10">
                                            <span class="fileinput-new">Select file</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" name="logo">
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                    </div>

	                                {% if form.logo.errors %}
	                                	<label class="error">{{ form.logo.errors.as_text }}</label>
	                                {% endif %}
	                            </div>
                            </div>
                         </div>

                         <div class="m-t-20">
                            <button type="submit" class="btn btn-info waves-effect">Submit</button>
                        </div>
                     </div>
                 </form>
            </div>

        </div>
    </section>
{% endblock %}

{% block static %}
	{% load static %}
	<script src="{% static 'vendors/fileinput/fileinput.min.js' %}"></script>
{% endblock %}
