{% extends "web/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
	<section id="about">
		<section id="top" class="p-t-20 p-b-20" style="background: url({{static_url}}web/images/header.png) no-repeat scroll center center / cover">
			<div class="wrapper">
				<h2 class="f-z-25 text-color-white t-a-c">{{quote1}}</h2>
			</div>
		</section>
		<section id="middle2" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover">
			
		</section>
		<section id="bottom" class="bg-color-green p-t-15 p-b-15 box-shadow-1 t-a-c">
			
		</section>
	</section>
</section>
	<section class="about p-b-3-p failure">
		<section class="wrapper">
			<div class="bg-color-white p-t-50 p-b-50 p-l-40 p-r-40 border-color-black bd-l bd-r bd-b bz">
				<section id="middle">
					<section class="tabs wrapper">
						<ul class="left w-100-p">
							<li class="left bz c-p p-s-r p-t-20 p-b-20 w-100-p t-a-c active" data-tab="#tab-1"><h4 class="f-z-30 text-color-green">Payment</h4></li>
						</ul>
						<div class="hidden p-t-100 p-b-60 js-tabs-content active" id="tab-1">
							<div class="left img w-30-p"><img class="d-b w-100-p m-t-50" src="{% static 'web/images/logo.jpg' %}" alt=""></div>
							<div class="right w-60-p full">
								<p class="m-t-10 f-z-20 t-t-u f-w-b">Payment Unsuccessfull</p>
								<p class="m-b-10 f-z-18 text-color-red f-w-b">Sorry.</p>
								<p class="f-z-16 m-t-10 text-color-red">we cannot complete your payment at this time.</p>
								<p class="f-z-16 text-color-red f-w-b">Your payment has failed.</p>
								{% if true_user %}
									<a href="{% url 'web:candidate_profile' %}" class="m-t-15 text-color-white d-i-b f-z-20 p-l-40 p-r-40 p-t-8 p-b-8 c-p bg-color-green border-color-green bd-1" />Go Back</a>
								{% else %}
									<a href="{% url 'auth_logout' %}" class="m-t-15 text-color-white d-i-b f-z-20 p-l-40 p-r-40 p-t-8 p-b-8 c-p bg-color-green border-color-green bd-1" />Go Back</a>
								{% endif %}
							</div>
							<br class="clear">
						</div>
					</section>
				</section>
			</div>
		</section>
	</section>
{% endblock %}
