<!DOCTYPE html>
<html>
{% load static %}
	<head>
		<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Payment Form Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
				function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!-- //for-mobile-apps -->
		<link href="{% static 'web/payumoney/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	</head>
	<body>
		<div class="main">
			<h1>Complete Your Registration</h1>
			<div class="content">
				<div class="sap_tabs">
					<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
						<div class="resp-tabs-container">
							<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
								<div class="payment-info">
									<h3>Checkout Page</h3>
									<form action="{{action}}"  name="payuform" method=POST >
										{% csrf_token %}
										<input type="hidden" name="hash_string" value="{{hash_string}}" />
										<input type="hidden" name="key" value="{{ key }}" />            
									    <input type="hidden" name="hash" value="{{ hash }}"/>            
									    <input type="hidden" name="txnid" value="{{ txnid }}" />
									    <input type="hidden" name="amount" value="{{ amount }}" />
									    <input type="hidden" name="email" value="{{ email }}" />
									    <input type="hidden" name="firstname" value="{{ firstname }}" />
									    <input type="hidden" name="phone" value="{{ phone }}" />
									    <input type="hidden" name="productinfo" value="{{ productinfo }}"/>
									    <input type="hidden" name="surl" value="{{ surl }}"/>
									    <input type="hidden" name="furl" value="{{ furl }}" />
									    <input type="hidden" name="service_provider" value="{{ service_provider }}" />
									    <input type="hidden" name="city" value="{{ city }}" />
									    <input type="hidden" name="state" value="{{ state }}" />
									    <input type="hidden" name="address1" value="{{ address }}" />
									    <input type="hidden" name="zipcode" value="{{ zipcode }}" />
										<div class="tab-for">				
											<h5>Name</h5>
												<input disabled type="text" value="{{firstname}}">
											<h5>Email</h5>													
												<input disabled type="text" value="{{email}}">
											<h5>Amount</h5>													
												<input disabled type="text" value="{{amount}}">
											<h5>Mobile</h5>													
												<input disabled type="text" value="{{phone}}">
											<h5>Transaction ID</h5>													
												<input disabled type="text" value="{{txnid}}">
										</div>
										<input class="payment" style="margin-bottom: 0; padding: 10px 30px; width: auto;" type="submit" value="CHECK OUT">
										{% if true_user %}
										<a class="payment" style="font-size: 16px; padding: 11px 30px; transition: 0.5s all; background: #db3236;" href="{% url 'web:candidate_profile' %}">Cancel</a>
										{% else %}
										<a class="payment" style="font-size: 16px; padding: 11px 30px; transition: 0.5s all; background: #db3236;" href="{% url 'payumoney:payment_cancel' %}">Cancel</a>
										{% endif %}
									</form>
								</div>
							</div>
						</div>	
					</div>
				</div>	
			</div>
		</div>
		<style>
			.tab-for input{
				color: #000 !important;
			}
		</style>
	</body>
</html>