<!DOCTYPE html>
<html>
{% load static %}
	<head>
		<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Payment Form Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
				function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!-- //for-mobile-apps -->
		<link href="{% static 'web/payumoney/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	</head>
	<body>
		<div class="main">
			<h1>Complete Your Registration</h1>
			<div class="content">
				<div class="sap_tabs">
					<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
						<div class="resp-tabs-container">
							<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
								<div class="payment-info">
									<h3>Checkout Page</h3>
									<form action="{{url}}" method=POST >
										{% csrf_token %}
										<div class="tab-for">				
											<h5>Name</h5>
												{{form.name}}
											<h5>Email</h5>													
												{{form.email}}
											<h5>Phone</h5>													
												{{form.phone}}
											<h5>Amount</h5>													
												{{form.amount}}
											<h5>Purpose</h5>													
												{{form.purpose}}
										</div>
										<input class="payment" style="margin-bottom: 0; padding: 10px 30px; width: auto;" type="submit" value="CHECK OUT">
										{% if true_user %}
										<a class="payment" style="font-size: 16px; padding: 11px 30px; transition: 0.5s all; background: #db3236;" href="{% url 'web:candidate_profile' %}">Cancel</a>
										{% else %}
										<a class="payment" style="font-size: 16px; padding: 11px 30px; transition: 0.5s all; background: #db3236;" href="{% url 'instamojo:payment_cancel' %}">Cancel</a>
										{% endif %}
									</form>
								</div>
							</div>
						</div>	
					</div>
				</div>	
			</div>
		</div>
		<style>
			.tab-for input{
				color: #000 !important;
			}
		</style>
	</body>
</html>